<%= form_for(@military_battle_character_result) do |f| %>
  <% if @military_battle_character_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@military_battle_character_result.errors.count, "error") %> prohibited this military_battle_character_result from being saved:</h2>

      <ul>
      <% @military_battle_character_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :battle_id %><br />
    <%= f.number_field :battle_id %>
  </div>
  <div class="field">
    <%= f.label :character_id %><br />
    <%= f.number_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :faction_id %><br />
    <%= f.number_field :faction_id %>
  </div>
  <div class="field">
    <%= f.label :experience_gained %><br />
    <%= f.number_field :experience_gained %>
  </div>
  <div class="field">
    <%= f.label :winner %><br />
    <%= f.check_box :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
