<h1>Listing messaging_outbox_entries</h1>

<table>
  <tr>
    <th>Outbox</th>
    <th>Owner</th>
    <th>Message</th>
    <th>Recipient</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messaging_outbox_entries.each do |messaging_outbox_entry| %>
  <tr>
    <td><%= messaging_outbox_entry.outbox_id %></td>
    <td><%= messaging_outbox_entry.owner_id %></td>
    <td><%= messaging_outbox_entry.message_id %></td>
    <td><%= messaging_outbox_entry.recipient_id %></td>
    <td><%= link_to 'Show', :controller => "outbox_entries", :id => messaging_outbox_entry, :action => :show %></td>
    <td><%= link_to 'Edit', :controller => "outbox_entries", :id => messaging_outbox_entry, :action => :edit %></td>
  </tr>

<% end %>
</table>

<br />

