<p id="notice"><%= notice %></p>

<p>
  <b>Outbox:</b>
  <%= @messaging_outbox_entry.outbox_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @messaging_outbox_entry.owner_id %>
</p>

<p>
  <b>Message:</b>
  <%= @messaging_outbox_entry.message_id %>
</p>

<p>
  <b>Recipient:</b>
  <%= @messaging_outbox_entry.recipient_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @messaging_outbox_entry.subject %>
</p>

