<h1>Listing shop_fb_credit_offers</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Title</th>
    <th>Description</th>
    <th>Url</th>
    <th>Image url</th>
    <th>Prices</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_fb_credit_offers.each do |shop_fb_credit_offer| %>
  <tr>
    <td><%= shop_fb_credit_offer.amount %></td>
    <td><%= shop_fb_credit_offer.title %></td>
    <td><%= shop_fb_credit_offer.description %></td>
    <td><%= shop_fb_credit_offer.url %></td>
    <td><%= shop_fb_credit_offer.image_url %></td>
    <td><%= shop_fb_credit_offer.prices %></td>
    <td><%= link_to 'Show', shop_fb_credit_offer %></td>
    <td><%= link_to 'Edit', edit_shop_fb_credit_offer_path(shop_fb_credit_offer) %></td>
    <td><%= link_to 'Destroy', shop_fb_credit_offer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fb credit offer', new_shop_fb_credit_offer_path %>
