<%= form_for(@construction_active_job) do |f| %>
  <% if @construction_active_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construction_active_job.errors.count, "error") %> prohibited this construction_active_job from being saved:</h2>

      <ul>
      <% @construction_active_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :queue_id %><br />
    <%= f.number_field :queue_id %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </div>
  <div class="field">
    <%= f.label :progress %><br />
    <%= f.text_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
