<p id="notice"><%= notice %></p>

<div class="battle-info panel">
<h1>Battle at Location <%= @military_battle.location.slot %> in Region <%= @military_battle.region.id %></h1>

<ul>
  <li>ID: <%= @military_battle.id %></li>
  <li>Started at: <%= @military_battle.started_at %></li>
  <li>Initiated by <b><%= "#{@military_battle.initiator.name} | #{@military_battle.initiator.alliance_tag}"%></b> with an attack on <b><%= "#{@military_battle.opponent.name} | #{@military_battle.opponent.alliance_tag}"%></b></li>
</ul>

<%= link_to 'Edit', edit_military_battle_path(@military_battle) %> |
<%= link_to 'Back', military_battles_path %>

</div>


<div class="round-info panel panel-border">
<% if @military_battle.rounds.empty? %>
<h1>No rounds!</h2>
<% else %>
<h1>Before Round <%= @military_battle.battle_rounds_count %></h1>

<ul>
  <li>Round <%= @military_battle.rounds.last.round_num %>: <%= @military_battle.rounds.last.executed_at %></li>
  <li>Next: <%= @military_battle.next_round_at %></li>
</ul>
<% end %>
    <% if @military_battle.event.nil?%>
      Event: <span style="color: #F00;">missing</span>
    <% elsif !@military_battle.event.locked_by.blank? %>
      Event: <span style="color: #FB0;">blocked</span> unblock
    <% else %>
      Event: <%= @military_battle.event.execute_at %> execute now
    <% end %>

</div>


<div class="panel">
<table class="factions-overview">
<tr>
  <th>Faction A (Initiator)</th>
  <th>Faction B (Opponent)</th>
</tr>
<tr>
  <td>
    <% @military_battle.factions.first.participants.each do | participant | %>
      <%= link_to participant.army.owner.name, participant.army.owner %> |
      <%= if (participant.army.owner.alliance) 
            link_to participant.army.owner.alliance_tag, participant.army.owner.alliance 
          else 
            ""
          end %> with
      <%= link_to participant.army.name, participant.army %> <%= "(#{ participant.army.size_present } men, #{ participant.army.strength } strength) "%><br/>
    <% end %>    
  </td>
  <td>
    <% @military_battle.factions.last.participants.each do | participant | %>
      <%= link_to participant.army.owner.name, participant.army.owner %> |
      <%= if (participant.army.owner.alliance) 
            link_to participant.army.owner.alliance_tag, participant.army.owner.alliance 
          else 
            ""
          end %> with
      <%= link_to participant.army.name, participant.army %> <%= "(#{ participant.army.size_present } men, #{ participant.army.strength } strength) "%><br/>
    <% end %>
  </td>
</tr>
</table>
</div>


<div class="panel">
  
  <% @military_battle.rounds.each do | round | %>
 
    <h2>R <%= round.round_num || 0 %></h2>
    
<table class="factions-overview">
<tr>
  <th>Faction A</th>
  <th>Faction B</th>
</tr>
<tr>
  <td>
    <% if ! round.faction_results.empty? 
      total_units = {}
      total_casualties =  {}
      total_damage_taken = {}
      total_damage_inflicted = {} %>
      <table>
        <tr>
          <th>Army</th>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <th><%= unit_type[:name][:en_US][0..5] %></th>
          <%end%>
        </tr>
        <% round.faction_results[0].participant_results.each do | participant | %>
          <tr>
            <td>
              <%= participant.army.name %> (<%= link_to participant.army.owner.name, participant.army.owner %> |
              <%= if (participant.army.owner.alliance) 
                    link_to participant.army.owner.alliance_tag, participant.army.owner.alliance 
                  else 
                    ""
              end %>)
            </td>
            <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
              <td><%= if !participant[unit_type[:db_field]].blank?
                  casfield = (unit_type[:db_field].to_s+'_casualties').to_sym
                  dtafield = (unit_type[:db_field].to_s+'_damage_taken').to_sym
                  dinfield = (unit_type[:db_field].to_s+'_damage_inflicted').to_sym
                
                  total_units[unit_type[:db_field]] = (total_units[unit_type[:db_field]] || 0) + participant[unit_type[:db_field]]
                  total_casualties[unit_type[:db_field]] = (total_casualties[unit_type[:db_field]] || 0) + participant[casfield]
                  total_damage_taken[unit_type[:db_field]] = (total_damage_taken[unit_type[:db_field]] || 0) + participant[dtafield]
                  total_damage_inflicted[unit_type[:db_field]] = (total_damage_inflicted[unit_type[:db_field]] || 0) + participant[dinfield]

                  "#{participant[unit_type[:db_field]] - participant[casfield]} (-#{participant[casfield]})"
                else
                  ""
                end %></td>
            <%end%>
          </tr>
        <% end %>
        <tr>
          <td>Totals</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_units[unit_type[:db_field]].blank?
                "#{total_units[unit_type[:db_field]] - total_casualties[unit_type[:db_field]]} (-#{total_casualties[unit_type[:db_field]]})"
              else
                ""
              end %></td>
          <%end%>
        </tr>
        <tr>
          <td>Damage Inflicted</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_damage_inflicted[unit_type[:db_field]].blank?
                (total_damage_inflicted[unit_type[:db_field]]+0.5).floor
              else
                ""
              end %></td>
          <%end%>
        </tr>
        <tr>
          <td>Damage Taken</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_damage_taken[unit_type[:db_field]].blank?
                (total_damage_taken[unit_type[:db_field]]+0.5).floor
              else
                ""
              end %></td>
          <%end%>
        </tr>
      </table>
    <% end %>    
  </td>
  <td>
    <% if ! round.faction_results.empty? && !round.faction_results[1].nil?
      total_units = {}
      total_casualties =  {}
      total_damage_taken = {}
      total_damage_inflicted = {} %>
      <table>
        <tr>
          <th>Army</th>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <th><%= unit_type[:name][:en_US][0..5] %></th>
          <%end%>
        </tr>
        <% round.faction_results[1].participant_results.each do | participant | %>
          <tr>
            <td>
              <%= participant.army.name %> (<%= link_to participant.army.owner.name, participant.army.owner %> |
              <%= if (participant.army.owner.alliance) 
                    link_to participant.army.owner.alliance_tag, participant.army.owner.alliance 
                  else 
                    ""
              end %>)
            </td>
            <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
              <td><%= if !participant[unit_type[:db_field]].blank?
                  casfield = (unit_type[:db_field].to_s+'_casualties').to_sym
                  dtafield = (unit_type[:db_field].to_s+'_damage_taken').to_sym
                  dinfield = (unit_type[:db_field].to_s+'_damage_inflicted').to_sym
                
                  total_units[unit_type[:db_field]] = (total_units[unit_type[:db_field]] || 0) + participant[unit_type[:db_field]]
                  total_casualties[unit_type[:db_field]] = (total_casualties[unit_type[:db_field]] || 0) + participant[casfield]
                  total_damage_taken[unit_type[:db_field]] = (total_damage_taken[unit_type[:db_field]] || 0) + participant[dtafield]
                  total_damage_inflicted[unit_type[:db_field]] = (total_damage_inflicted[unit_type[:db_field]] || 0) + participant[dinfield]

                  "#{participant[unit_type[:db_field]] - participant[casfield]} (-#{participant[casfield]})"
                else
                  ""
                end %></td>
            <%end%>
          </tr>
        <% end %>
        <tr>
          <td>Totals</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_units[unit_type[:db_field]].blank?
                "#{total_units[unit_type[:db_field]] - total_casualties[unit_type[:db_field]]} (-#{total_casualties[unit_type[:db_field]]})"
              else
                ""
              end %></td>
          <%end%>
        </tr>
        <tr>
          <td>Damage Inflicted</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_damage_inflicted[unit_type[:db_field]].blank?
                (total_damage_inflicted[unit_type[:db_field]]+0.5).floor
              else
                ""
              end %></td>
          <%end%>
        </tr>
        <tr>
          <td>Damage Taken</td>
          <% GameRules::Rules.the_rules.unit_types.each do |unit_type|  %>
            <td><%= if !total_damage_taken[unit_type[:db_field]].blank?
                (total_damage_taken[unit_type[:db_field]]+0.5).floor
              else
                ""
              end %></td>
          <%end%>
        </tr>
      </table>
    <% end %>      </td>
</tr>
</table>    
 
  <%end%>
  
</div>  
