<%= form_for(@settlement_slot) do |f| %>
  <% if @settlement_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@settlement_slot.errors.count, "error") %> prohibited this settlement_slot from being saved:</h2>

      <ul>
      <% @settlement_slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :settlement_id %><br />
    <%= f.number_field :settlement_id %>
  </div>
  <div class="field">
    <%= f.label :slot_num %><br />
    <%= f.number_field :slot_num %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br />
    <%= f.number_field :building_id %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
