<p id="notice"><%= notice %></p>

<p>
  <b>Settlement:</b>
  <%= @settlement_slot.settlement_id %>
</p>

<p>
  <b>Slot num:</b>
  <%= @settlement_slot.slot_num %>
</p>

<p>
  <b>Type:</b>
  <%= @settlement_slot.type %>
</p>

<p>
  <b>Building Type:</b>
  <%= @settlement_slot.building_id %>
</p>

<p>
  <b>Level:</b>
  <%= @settlement_slot.level %>
</p>


<%= link_to 'Edit', edit_settlement_slot_path(@settlement_slot) %> |
<%= link_to 'Back', settlement_slots_path %>
