<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @treasure_treasure.character_id %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @treasure_treasure.difficulty %>
</p>

<p>
  <b>Level:</b>
  <%= @treasure_treasure.level %>
</p>

<p>
  <b>Catagory:</b>
  <%= @treasure_treasure.catagory %>
</p>

<p>
  <b>Latitude:</b>
  <%= @treasure_treasure.latitude %>
</p>

<p>
  <b>Longitutde:</b>
  <%= @treasure_treasure.longitutde %>
</p>

<p>
  <b>Distance:</b>
  <%= @treasure_treasure.distance %>
</p>


<%= link_to 'Edit', edit_treasure_treasure_path(@treasure_treasure) %> |
<%= link_to 'Back', treasure_treasures_path %>
