<%= form_for(@event_event) do |f| %>
  <% if @event_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_event.errors.count, "error") %> prohibited this events_event from being saved:</h2>

      <ul>
      <% @events_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br />
    <%= f.number_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :execute_at %><br />
    <%= f.datetime_select :execute_at %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :locked_at %><br />
    <%= f.datetime_select :locked_at %>
  </div>
  <div class="field">
    <%= f.label :locked_by %><br />
    <%= f.text_field :locked_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
