<h1>Listing event_events</h1>

<table>
  <tr>
    <th>Character</th>
    <th>Execute at</th>
    <th>Event type</th>
    <th>Local event id</th>
    <th>Locked at</th>
    <th>Locked by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_events.each do |event_event| %>
  <tr>
    <td><%= event_event.character_id %></td>
    <td><%= event_event.execute_at %></td>
    <td><%= event_event.event_type %></td>
    <td><%= event_event.local_event_id %></td>
    <td><%= event_event.locked_at %></td>
    <td><%= event_event.locked_by %></td>
    <td><%= link_to 'Show', event_event %></td>
    <td><%= link_to 'Edit', edit_event_event_path(event_event) %></td>
    <td><%= link_to 'Destroy', event_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_event_path %>
