<%= form_for(@construction_queue) do |f| %>
  <% if @construction_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construction_queue.errors.count, "error") %> prohibited this construction_queue from being saved:</h2>

      <ul>
      <% @construction_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :settlement_id %><br />
    <%= f.number_field :settlement_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :speedup_buildings %><br />
    <%= f.text_field :speedup_buildings %>
  </div>
  <div class="field">
    <%= f.label :speedup_sciences %><br />
    <%= f.text_field :speedup_sciences %>
  </div>
  <div class="field">
    <%= f.label :speedup_alliance %><br />
    <%= f.text_field :speedup_alliance %>
  </div>
  <div class="field">
    <%= f.label :speedup_effects %><br />
    <%= f.text_field :speedup_effects %>
  </div>
  <div class="field">
    <%= f.label :threads %><br />
    <%= f.number_field :threads %>
  </div>
  <div class="field">
    <%= f.label :jobs_count %><br />
    <%= f.number_field :jobs_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
