<h1>Listing construction_queues</h1>

<table>
  <tr>
    <th>Settlement</th>
    <th>Type</th>
    <th>Speed</th>
    <th>Max length</th>
    <th>Threads</th>
    <th>Jobs count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construction_queues.each do |construction_queue| %>
  <tr>
    <td><%= construction_queue.settlement_id %></td>
    <td><%= construction_queue.type_id %></td>
    <td><%= construction_queue.speed %><%= " (BASE +#{construction_queue.speedup_buildings} +#{construction_queue.speedup_sciences} +#{construction_queue.speedup_alliance} +#{construction_queue.speedup_effects})" %></td>
    <td><%= construction_queue.max_length %></td>
    <td><%= construction_queue.threads %></td>
    <td><%= construction_queue.jobs_count %></td>
    <td><%= link_to 'Show', construction_queue %></td>
    <td><%= link_to 'Edit', edit_construction_queue_path(construction_queue) %></td>
    <td><%= link_to 'Destroy', construction_queue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Queue', new_construction_queue_path %>


<ul>
  <li>Speed is listed with the individual speed-ups per origin in this order: buildings, sciences, alliance, effects.</li>
  <li>Base-Speed is 1 (100%) and is always added to the speed-ups.</li>
  <li>Minimal speed is slightly above zero (prevent division by zero); negative speed-ups that would add-up to a smaller number than 0 are cut-off.</li>
</ul>
