<% if (@only.length == 0 || @only.include?(:version)) && !@rules.version.nil? %>
  <h1>Game Rules @<%= "#{@rules.version[:major]}.#{@rules.version[:minor]}.#{@rules.version[:build]}"%></h1>
  <hr />
<% end %>

<% if (@only.length == 0 || @only.include?(:settlement_types)) && !@rules.settlement_types.nil? %>
  <h1>Settlement Types</h1>
  <% @rules.settlement_types.each do |settlement| %>
    <h2><%= settlement[:name][:en_US] %></h2>
    <table>
      <% settlement.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />
<% end %>

<% if (@only.length == 0 || @only.include?(:building_categories)) && !@rules.building_categories.nil? %>
  <h1>Building Categories</h1>
  <% @rules.building_categories.each do |building| %>
    <h2><%= building[:name][:en_US] %></h2>
    <table>
      <% building.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />
<% end %>

<% if (@only.length == 0 || @only.include?(:building_types)) && !@rules.building_types.nil? %>
  <h1>Building Types</h1>
  <% @rules.building_types.each do |building| %>
    <h2><%= building[:name][:en_US] %></h2>
    <table>
      <% building.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />
<% end %>



<% if (@only.length == 0 || @only.include?(:unit_categories)) && !@rules.unit_categories.nil? %>
  <h1>Unit Categories</h1>
  <% @rules.unit_categories.each do |unit| %>
    <h2><%= unit[:name][:en_US] %></h2>
    <table>
      <% unit.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />
<% end %>


<% if (@only.length == 0 || @only.include?(:unit_types)) && !@rules.unit_types.nil? %>
  <h1>Units</h1>
  <% @rules.unit_types.each do |unit| %>
    <h2><%= unit[:name][:en_US] %></h2>
    <table>
      <% unit.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />

<% end %>



<% if (@only.length == 0 || @only.include?(:science_types)) && !@rules.science_types.nil? %>
  <h1>Sciences</h1>
  <% @rules.science_types.each do |science| %>
    <h2><%= science[:name][:en_US] %></h2>
    <table>
      <% science.each do |key, value| %>
        <tr>
          <td><b><%= key %></b></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <hr />

<% end %>