<div class="dashboard">

  <div class="profile">
    <%= gravatar_img_tag_for @backend_user.gravatar_url(:size => 120), :class => 'gravatar-float', :alt => @backend_user.address_informal %>
  
    <div class="profile-info">
      <h1>Hi <%="#{@backend_user.address_informal}" %>.</h1>
      <p>Your role: <%= (backend_admin? ? '<span class="red">admin</span>' : backend_staff? ? '<span class="orange">staff</span>' : "partner").html_safe %>.
    </div>
  </div>
  

    
  <h1>User Stats</h1>

  <% @user_groups.each do |group| %>
  <%= render :partial => "backend/dashboard/user_group", :locals => { :user_group => group } %>
  <% end %>
  
  

  <h1>Partner Sites</h1>
  
  <table>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Sign Ups</th>
      <th>Playing</th>
      <th>Churned</th>
      <th>Gross (Tot/Avg)</th>
      <th>Playtime (Avg)</th>
      
      <th>1st Sign In</th>
      <th>10 min</th>
      <th>2nd Day</th>
      <th>Active</th>
      <th>Long Term</th>
      <th>Paying</th>
    </tr>
    <% @partner_sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= site.description %></td>
        
        <td><%= site.sign_ups_count %></td>        
        <td><%= (site.sign_ups_count || 0) - site.total_churned %></td>        
        <td><%= site.total_churned %></td>        

        <td><%= site.gross.nil? || site.gross <= 0.1 ? "--" : "#{site.gross } EUR / #{site.gross / [(site.sign_ups_count || 0), 1].max } EUR" %></td>        
        <td><%= ((site.playtime || 0.0) / 60.0 / [(site.sign_ups_count || 0), 1].max).ceil  %> min.</td>        

        <td><%= site.total_logged_in_once %></td>        
        <td><%= site.total_ten_minutes %></td>        
        <td><%= site.total_second_day %></td>        
        <td><%= site.total_active %></td>        
        <td><%= site.total_long_term_active %></td>        
        <td><%= site.total_paying %></td>        

      </tr>
    <% end %>
  </table>
  
</div>