<p id="notice"><%= notice %></p>

<p>
  <b>Details:</b>
  <% if @military_army.details.nil? %>
    missing
  <% else%>
    <%= link_to "##{@military_army.details.id}", military_army_detail_path( @military_army.details ) %>
  <% end %>
</p>


<p>
  <b>Name:</b>
  <%= @military_army.name %>
</p>

<p>
  <b>Home settlement:</b>
  <%= @military_army.home_settlement_id %>
</p>

<p>
  <b>Home settlement name:</b>
  <%= @military_army.home_settlement_name %>
</p>

<p>
  <b>Location:</b>
  <%= @military_army.location_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @military_army.owner_id %>
</p>

<p>
  <b>Owner name:</b>
  <%= @military_army.owner_name %>
</p>

<p>
  <b>Alliance:</b>
  <%= @military_army.alliance_id %>
</p>

<p>
  <b>Alliance tag:</b>
  <%= @military_army.alliance_tag %>
</p>

<p>
  <b>Ap max:</b>
  <%= @military_army.ap_max %>
</p>

<p>
  <b>Ap present:</b>
  <%= @military_army.ap_present %>
</p>

<p>
  <b>Ap seconds per point:</b>
  <%= @military_army.ap_seconds_per_point %>
</p>

<p>
  <b>Ap next:</b>
  <%= @military_army.ap_next %>
</p>

<p>
  <b>Mode:</b>
  <%= @military_army.mode %>
</p>

<p>
  <b>Kills:</b>
  <%= @military_army.kills %>
</p>

<p>
  <b>Victories:</b>
  <%= @military_army.victories %>
</p>

<p>
  <b>Stance:</b>
  <%= @military_army.stance %>
</p>

<p>
  <b>Size max:</b>
  <%= @military_army.size_max %>
</p>

<p>
  <b>Size present:</b>
  <%= @military_army.size_present %>
</p>

<p>
  <b>Strength:</b>
  <%= @military_army.strength %>
</p>

<p>
  <b>Exp:</b>
  <%= @military_army.exp %>
</p>

<p>
  <b>Rank:</b>
  <%= @military_army.rank %>
</p>

<p>
  <b>Target region:</b>
  <%= @military_army.target_region_id %>
</p>

<p>
  <b>Target location:</b>
  <%= @military_army.target_location_id %>
</p>

<p>
  <b>Target reached at:</b>
  <%= @military_army.target_reached_at %>
</p>

<p>
  <b>Battle retreat:</b>
  <%= @military_army.battle_retreat %>
</p>

<p>
  <b>Battle:</b>
  <%= @military_army.battle_id %>
</p>


<%= link_to 'Edit', edit_military_army_path(@military_army) %> |
<%= link_to 'Back', military_armies_path %>
