<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @effect_alliance_experience_effect.type_id %>
</p>

<p>
  <b>Origin:</b>
  <%= @effect_alliance_experience_effect.origin_id %>
</p>

<p>
  <b>Alliance:</b>
  <%= @effect_alliance_experience_effect.alliance_id %>
</p>

<p>
  <b>Bonus:</b>
  <%= @effect_alliance_experience_effect.bonus %>
</p>


<%= link_to 'Edit', edit_effect_alliance_experience_effect_path(@effect_alliance_experience_effect) %> |
<%= link_to 'Back', effect_alliance_experience_effects_path %>
