<p id="notice"><%= notice %></p>

<p>
  <b>Offer type:</b>
  <%= @shop_purchase.offer_type %>
</p>

<p>
  <b>External Offer ID:</b>
  <%= @shop_purchase.external_offer_id %>
</p>

<p>
  <b>Redeemed at:</b>
  <%= @shop_purchase.redeemed_at %>
</p>


<%= link_to 'Edit', edit_shop_purchase_path(@shop_purchase) %> |
<%= link_to 'Back', shop_purchases_path %>
