<h1>Listing backend_browser_stats</h1>

<table>
  <tr>
    <th>Identifier</th>
    <th>Success</th>
    <th>User agent</th>
    <th>Modernizr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @backend_browser_stats.each do |backend_browser_stat| %>
  <tr>
    <td><%= backend_browser_stat.identifier %></td>
    <td><%= backend_browser_stat.success %></td>
    <td><%= backend_browser_stat.user_agent %></td>
    <td><%= backend_browser_stat.modernizr %></td>
    <td><%= link_to 'Show', backend_browser_stat %></td>
    <td><%= link_to 'Edit', edit_backend_browser_stat_path(backend_browser_stat) %></td>
    <td><%= link_to 'Destroy', backend_browser_stat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Browser stat', new_backend_browser_stat_path %>
