<h1>Listing shop_money_transactions</h1>

<p>Last Update: <%= @last_update %>&nbsp;&nbsp;&nbsp;<%= link_to 'Update from Bytro API', shop_money_transactions_path + '?update=true' %>  
</p>

<%= if (@paginate) 
  will_paginate @money_transactions 
end %>


<table>
  <tr>
    <th>Bytro UpdateTstamp</th>
    <th>Bytro UserID</th>
    <th>Identifier</th>
    <th>Bytro InvoiceID</th>
    <th>Bytro offerID</th>
    <th>Provider</th>
    <th>Country</th>
    <th>Currency</th>
    <th>Gross</th>
    <th>VAT</th>
    <th>Tax</th>
    <th>Net</th>
    <th>Fee</th>
    <th>EBP</th>
    <th>Earnings</th>
    <th>Transaction State</th>
    <th>Payed</th>
    <th>Payer Firstname</th>
    <th>Payer Lastname</th>
    <th>Payer Mail</th>
    <th>Payer Country</th>
  </tr>

<% @money_transactions.each do |money_transaction| %>
  <tr>
    <td><%= money_transaction.updatetstamp %></td>
    <td><%= money_transaction.user_id %></td>
    <td><%= link_to money_transaction.partner_user_id, GAME_SERVER_CONFIG['identity_provider_base_url'] + "/identities/#{money_transaction.partner_user_id}" %></td>
    <td><%= money_transaction.invoice_id %></td>
    <td><%= money_transaction.offer_id %></td>
    <td><%= money_transaction.method %></td>
    <td><%= money_transaction.country %></td>
    <td><%= money_transaction.gross_currency %></td>
    <td><%= money_transaction.gross.round(3) %></td>
    <td><%= money_transaction.vat.round(3) %></td>
    <td><%= money_transaction.tax.round(3) %></td>
    <td><%= money_transaction.net.round(3) %></td>
    <td><%= money_transaction.fee.round(3) %></td>
    <td><%= money_transaction.ebp.round(3) %></td>
    <td><%= money_transaction.earnings.round(3) %></td>
    <td><%= money_transaction.transaction_state %></td>
    <td><%= money_transaction.transaction_payed %></td>
    <td><%= money_transaction.payer_first_name %></td>
    <td><%= money_transaction.payer_last_name %></td>
    <td><%= money_transaction.payer_mail %></td>
    <td><%= money_transaction.payer_country %></td>
  </tr>
<% end %>
</table>


<% unless @hide_offers %>

<h3>Offers</h3>
<table>
<tr>
  <th>OfferID</th>
  <th>Paket</th>
  <th>Preis</th>
  <th>Anzahl</th>
  <th>Umsatz</th>
  <th>Erlös</th>
</tr>
<tr style="text-align: right;">
  <td>358</td>
  <td>1600 5D-Credits</td>
  <td><%= if !Shop::MoneyTransaction.offer(358).first.nil?
            Shop::MoneyTransaction.offer(358).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(358).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(358).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(358).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>359</td>
  <td>30 5D-Credits</td>
  <td><%= if !Shop::MoneyTransaction.offer(359).first.nil?
            Shop::MoneyTransaction.offer(359).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(359).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(359).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(359).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>360</td>
  <td>100 5D-Credits</td>
  <td><%= if !Shop::MoneyTransaction.offer(360).first.nil?
            Shop::MoneyTransaction.offer(360).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(360).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(360).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(360).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>361</td>
  <td>250 5D-Credits</td>
  <td><%= if !Shop::MoneyTransaction.offer(361).first.nil?
            Shop::MoneyTransaction.offer(361).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(361).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(361).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(361).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>362</td>
  <td>600 5D-Credits</td>
  <td><%= if !Shop::MoneyTransaction.offer(362).first.nil?
            Shop::MoneyTransaction.offer(362).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(362).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(362).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(362).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>363</td>
  <td>6 M Platinum-Account</td>
  <td><%= if !Shop::MoneyTransaction.offer(363).first.nil?
            Shop::MoneyTransaction.offer(363).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(363).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(363).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(363).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>364</td>
  <td>12 M Platinum-Account</td>
  <td><%= if !Shop::MoneyTransaction.offer(364).first.nil?
            Shop::MoneyTransaction.offer(364).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(364).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(364).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(364).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>365</td>
  <td>Life-Time-Platinum-Account</td>
  <td><%= if !Shop::MoneyTransaction.offer(365).first.nil?
            Shop::MoneyTransaction.offer(365).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(365).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(365).sum(:gross), :unit => "EUR"  %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(365).sum(:earnings), :unit => "EUR"  %></td>
</tr>
<tr style="text-align: right;">
  <td>366</td>
  <td>Life-Time-Platinum-Account + Tasse</td>
  <td><%= if !Shop::MoneyTransaction.offer(366).first.nil?
            Shop::MoneyTransaction.offer(366).first.gross
          else
            "-"
          end %></td>
  <td><%= Shop::MoneyTransaction.offer(366).count %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(366).sum(:gross), :unit => "EUR" %></td>
  <td><%= number_to_currency Shop::MoneyTransaction.offer(366).sum(:earnings), :unit => "EUR" %></td>
</tr>
</table>

<br />

<% end %>

<%= if (@paginate) 
  will_paginate @money_transactions 
end %>


