<h1>Listing shop_money_transactions</h1>

<table>
  <tr>
    <th>Bytro UpdateTstamp</th>
    <th>Bytro UserID</th>
    <th>Identifier</th>
    <th>Bytro InvoiceID</th>
    <th>Bytro offerID</th>
    <th>Provider</th>
    <th>Country</th>
    <th>Currency</th>
    <th>Gross</th>
    <th>VAT</th>
    <th>Tax</th>
    <th>Net</th>
    <th>Fee</th>
    <th>EBP</th>
    <th>Earnings</th>
    <th>Transaction State</th>
    <th>Payer Firstname</th>
    <th>Payer Lastname</th>
    <th>Payer Mail</th>
    <th>Payer Country</th>
  </tr>

<% @money_transactions.each do |money_transaction| %>
  <tr>
    <td><%= money_transaction['updateTstamp'] %></td>
    <td><%= money_transaction['userID'] %></td>
    <td><%= link_to money_transaction['partnerUserID'], GAME_SERVER_CONFIG['identity_provider_base_url'] + "/identities/#{money_transaction['partnerUserID']}" %></td>
    <td><%= money_transaction['invoiceID'] %></td>
    <td><%= money_transaction['offerID'] %></td>
    <td><%= money_transaction['method'] %></td>
    <td><%= money_transaction['country'] %></td>
    <td><%= money_transaction['grossCurrency'] %></td>
    <td><%= money_transaction['gross'].to_f.round(3) %></td>
    <td><%= money_transaction['vat'].to_f.round(3) %></td>
    <td><%= money_transaction['tax'].to_f.round(3) %></td>
    <td><%= money_transaction['net'].to_f.round(3) %></td>
    <td><%= money_transaction['fee'].to_f.round(3) %></td>
    <td><%= money_transaction['ebp'].to_f.round(3) %></td>
    <td><%= money_transaction['earnings'].to_f.round(3) %></td>
    <td><%= money_transaction['transactionState'] %></td>
    <td><%= money_transaction['payerFirstName'] %></td>
    <td><%= money_transaction['payerLastName'] %></td>
    <td><%= money_transaction['payerMail'] %></td>
    <td><%= money_transaction['payerCountry'] %></td>
  </tr>
<% end %>
</table>

<h3>Offers</h3>
<table>
<tr>
  <th>OfferID</th>
  <th>Paket</th>
</tr>
<tr>
  <td>358</td>
  <td>1600 5D-Credits</td>
</tr>
<tr>
  <td>359</td>
  <td>30 5D-Credits</td>
</tr>
<tr>
  <td>360</td>
  <td>100 5D-Credits</td>
</tr>
<tr>
  <td>361</td>
  <td>250 5D-Credits</td>
</tr>
<tr>
  <td>362</td>
  <td>600 5D-Credits</td>
</tr>
<tr>
  <td>363</td>
  <td>6 M Platinum-Account</td>
</tr>
<tr>
  <td>364</td>
  <td>12 M Platinum-Account</td>
</tr>
<tr>
  <td>365</td>
  <td>Life-Time-Platinum-Account</td>
</tr>
<tr>
  <td>366</td>
  <td>Life-Time-Platinum-Account + Tasse</td>
</tr>
</table>

<br />

