<div class="platinum-account-info">
  <div class="platinum-account-info-pane">
  
    <h1><%= I18n.translate('application.shop.platinum_info.title') %></h1>
    
    <p><%= I18n.translate('application.shop.platinum_info.description2') %></p>
    
    <div class="feature">
      <%= image_tag("shop/screenshot_construction.png") %>
      <h4 ><%= I18n.translate('application.shop.platinum_info.construction.title') %></h4>
      <p><%= I18n.translate('application.shop.platinum_info.construction.description') %></p>
    </div>
      
    <div class="feature">
      <%= image_tag("shop/screenshot_training.png") %>
      <h4><%= I18n.translate('application.shop.platinum_info.training.title') %></h4>
      <p><%= I18n.translate('application.shop.platinum_info.training.description') %></p>
    </div>
    
    <div class="feature">
      <%= image_tag("shop/screenshot_mail.png") %>
      <h4><%= I18n.translate('application.shop.platinum_info.battle_message.title') %></h4>
      <p><%= I18n.translate('application.shop.platinum_info.battle_message.description') %></p>
    </div>

    <div class="feature">
      <h4><%= I18n.translate('application.shop.platinum_info.like_regeneration.title') %></h4>
      <p><%= I18n.translate('application.shop.platinum_info.like_regeneration.description') %></p>
    </div>

    
    <div class="feature">
      <p><%= I18n.translate('application.shop.platinum_info.description1') %></p>
      <p><%= I18n.translate('application.shop.platinum_info.footer') %></p>
    </div>
    
  </div>
</div>




