<p id="notice"><%= notice %></p>

<p>
  <b>Army:</b>
  <%= @military_battle_participant.army_id %>
</p>

<p>
  <b>Battle:</b>
  <%= @military_battle_participant.battle_id %>
</p>

<p>
  <b>Faction:</b>
  <%= @military_battle_participant.faction_id %>
</p>

<p>
  <b>Joined at:</b>
  <%= @military_battle_participant.joined_at %>
</p>

<p>
  <b>Retreated:</b>
  <%= @military_battle_participant.retreated %>
</p>

<p>
  <b>Retreated to region:</b>
  <%= @military_battle_participant.retreated_to_region_id %>
</p>

<p>
  <b>Retreated to location:</b>
  <%= @military_battle_participant.retreated_to_location_id %>
</p>


<%= link_to 'Edit', edit_military_battle_participant_path(@military_battle_participant) %> |
<%= link_to 'Back', military_battle_participants_path %>
