<h1>Listing backend_sign_in_log_entries</h1>

<%= will_paginate @backend_sign_in_log_entries %>

<table class="backend-sign-in-log-entries">
  <tr>
    <th>Character</th>
    <th>Sign Up</th>
    <th>User Agent</th>
    <th>Referer</th>
    <th>Referer Url</th>
    <th>Request Url</th>
    <th>R</th>
    <th>K</th>
    <th>P</th>
    <th>N</th>
    <th>Partner Site</th>
    <th>Remote IP</th>
    <th>Internal Referer</th>
    <th></th>
    <th></th>
  </tr>

<% @backend_sign_in_log_entries.each do |backend_sign_in_log_entry| %>
  <tr>
    <td><%= backend_sign_in_log_entry.character_id %></td>
    <td><%= backend_sign_in_log_entry.sign_up %></td>
    <td><%= backend_sign_in_log_entry.user_agent %></td>
    <td><%= backend_sign_in_log_entry.referer %></td>
    <td class="url"><%= backend_sign_in_log_entry.referer_url %></td>
    <td class="url"><%= backend_sign_in_log_entry.request_url %></td>
    <td><%= backend_sign_in_log_entry.r %></td>
    <td><%= backend_sign_in_log_entry.k %></td>
    <td><%= backend_sign_in_log_entry.p %></td>
    <td><%= backend_sign_in_log_entry.n %></td>
    <td><%= backend_sign_in_log_entry.partner_site_id %></td>
    <td><%= backend_sign_in_log_entry.remote_ip %></td>
    <td><%= backend_sign_in_log_entry.direct_referer_url %></td>
    <td><%= link_to 'Show', backend_sign_in_log_entry %></td>
    <td><%= link_to 'Destroy', backend_sign_in_log_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @backend_sign_in_log_entries %>


<br />
