<%= form_for(@system_message, :url => { :action => "create", :controller => :system_messages }) do |f| %>
  <% if @system_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_message.errors.count, "error") %> prohibited this system message from being saved:</h2>

      <ul>
      <% @system_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    Tick the following checkbox to really store and deliver this message. Otherwise, it'll be previewed here and not stored and not send.</br>
    <%= check_box_tag :deliver, "1", (@deliver || false) %> <%= label_tag 'Deliver Now' %>
  </div>  
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>



<% if !@system_message.body.blank? %>

  <p><b><em>Preview</em></b></p>
  <hr/>
  
  <h1><%= @system_message.subject %></h1>
  <%=raw @system_message.body %>
  
  <hr/>

<% end %>
