<h1>Listing System Messages</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Send at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_messages.each do |message| %>
  <tr>
    <td><%= message.type_id %></td>
    <td><%= message.subject %></td>
    <td><%= message.body.length > 256 ? message.body[0..256] + ' ...' : message.body %></td>
    <td><%= message.send_at %></td>
    <td><%= link_to 'Show', messaging_message_path(message) %></td>
    <td><%= link_to 'Edit', edit_messaging_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_backend_system_message_path %>
