<%= form_for(@fundamental_alliance_leader_vote) do |f| %>
  <% if @fundamental_alliance_leader_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundamental_alliance_leader_vote.errors.count, "error") %> prohibited this fundamental_alliance_leader_vote from being saved:</h2>

      <ul>
      <% @fundamental_alliance_leader_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alliance_id %><br />
    <%= f.number_field :alliance_id %>
  </div>
  <div class="field">
    <%= f.label :voter_id %><br />
    <%= f.number_field :voter_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br />
    <%= f.number_field :candidate_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
