<h1>Listing settlement_settlements</h1>

<table>
  <tr>
    <th>Region</th>
    <th>Location</th>
    <th>Node</th>
    <th>Type</th>
    <th>Owner</th>
    <th>Alliance</th>
    <th>Founded at</th>
    <th>Founder</th>
    <th>Defense bonus</th>
    <th>Morale</th>
    <th>Tax rate</th>
    <th>Owns region</th>
    <th>Taxable</th>
    <th>Command points</th>
    <th>Armies count</th>
    <th>Garrison</th>
    <th>Besieged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settlement_settlements.each do |settlement_settlement| %>
  <tr>
    <td><%= settlement_settlement.region_id %></td>
    <td><%= settlement_settlement.location_id %></td>
    <td><%= settlement_settlement.node_id %></td>
    <td><%= "#{GameRules::Rules.the_rules.settlement_types[settlement_settlement.type_id][:name][:en_US]} T#{settlement_settlement.type_id}" unless settlement_settlement.type_id.blank? %> <%= "L#{settlement_settlement.level}" unless settlement_settlement.level.nil? %></td>
    <td><%= "#{settlement_settlement.owner.name} (#{ settlement_settlement.owner_id})"  unless settlement_settlement.owner_id.blank? %></td>
    <td><%= "#{settlement_settlement.alliance.tag} (#{ settlement_settlement.alliance_id})"  unless settlement_settlement.alliance_id.blank? %></td>
    <td><%= settlement_settlement.founded_at %></td>
    <td><%= "#{settlement_settlement.founder.name} (#{ settlement_settlement.founder_id})"  unless settlement_settlement.founder_id.blank? %></td>
    <td><%= settlement_settlement.defense_bonus %></td>
    <td><%= settlement_settlement.morale %></td>
    <td><%= settlement_settlement.tax_rate %></td>
    <td><%= settlement_settlement.owns_region %></td>
    <td><%= settlement_settlement.taxable %></td>
    <td><%= settlement_settlement.command_points %></td>
    <td><%= settlement_settlement.armies_count %></td>
    <td><%= settlement_settlement.garrison_id %></td>
    <td><%= settlement_settlement.besieged %></td>
    <td><%= link_to 'Show', settlement_settlement %></td>
    <td><%= link_to 'Edit', edit_settlement_settlement_path(settlement_settlement) %></td>
    <td><%= link_to 'Destroy', settlement_settlement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Settlement', new_settlement_settlement_path %>
