<h1>Listing settlement_settlements</h1>

<%= if (@paginate) 
  will_paginate @settlement_settlements 
end %>

<table>
  <tr>
    <th>Region</th>
    <th>Location</th>
    <th>Node</th>
    <th>Type</th>
    <th>Owner</th>
    <th>Alliance</th>
    <th>Founded at</th>
    <th>Founder</th>
    <th>Defense bonus</th>
    <th>Morale</th>
    <th>Tax rate</th>
    <th>Command points</th>
    <th>Armies count</th>
    <th>Garrison</th>
    <th>Armies Size Max</th>
    <th>Garrison Size Max</th>
    <th>Besieged</th>
<% Settlement::Settlement.new.attributes.each do |attribute, value| 
  if attribute.start_with? 'settlement_queue' %>
    <th><%= "ulock_"+attribute[17..-14] %></th>
<%end
end %>
<% Settlement::Settlement.new.attributes.each do |attribute, value| 
  if attribute.start_with?('resource_') && attribute.end_with?('_capacity') %>
    <th><%= attribute[(attribute.index('_')+1)..(attribute.rindex('_')-1)]+' production' %></th>
<%end
end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settlement_settlements.each do |settlement_settlement| %>
  <tr>
    <td><%= settlement_settlement.region_id %></td>
    <td><%= settlement_settlement.location_id %></td>
    <td><%= settlement_settlement.node_id %></td>
    <td><%= "#{GameRules::Rules.the_rules.settlement_types[settlement_settlement.type_id][:name][:en_US]} T#{settlement_settlement.type_id}" unless settlement_settlement.type_id.blank? %> <%= "L#{settlement_settlement.level}" unless settlement_settlement.level.nil? %></td>
    <td><%= settlement_settlement.owner_id.nil?  ? "" : link_to("#{settlement_settlement.owner_id}", fundamental_character_path(settlement_settlement.owner_id)) %></td>
    <td><%= settlement_settlement.alliance_id.nil? ? "" : link_to("#{settlement_settlement.alliance_id}", fundamental_alliance_path(settlement_settlement.alliance_id))  %></td>
    <td><%= settlement_settlement.founded_at %></td>
    <td><%= settlement_settlement.founder_id.nil?  ? "" : link_to("#{settlement_settlement.founder_id}", fundamental_character_path(settlement_settlement.founder_id)) %></td>
    <td><%= settlement_settlement.defense_bonus %></td>
    <td><%= settlement_settlement.morale %></td>
    <td><%= settlement_settlement.tax_rate %></td>
    <td><%= settlement_settlement.command_points %></td>
    <td><%= settlement_settlement.armies_count %></td>
    <td><%= settlement_settlement.garrison_id %></td>
    <td><%= settlement_settlement.army_size_max %></td>
    <td><%= settlement_settlement.garrison_size_max %></td>
    <td><%= settlement_settlement.besieged %></td>
<% settlement_settlement.attributes.each do |attribute, value| 
  if attribute.start_with? 'settlement_queue' %>
    <td><%= value %></td>
<%end
end %>
<% settlement_settlement.attributes.each do |attribute, value| 
  if attribute.start_with?('resource_') && attribute.end_with?('_capacity') %>
    <td><%= prefix = attribute[0..(attribute.rindex('_'))]
     "#{settlement_settlement[prefix+'production_rate']} = #{settlement_settlement[prefix+'base_production']} *  #{settlement_settlement[prefix+'production_bonus']*100+100}% (#{settlement_settlement[prefix+'production_bonus_buildings']},#{settlement_settlement[prefix+'production_bonus_sciences']},#{settlement_settlement[prefix+'production_bonus_alliance']},#{settlement_settlement[prefix+'production_bonus_effects']},#{settlement_settlement[prefix+'production_bonus_global_effects']}) + #{settlement_settlement[prefix+'production_tax_rate']} (tax)"
     %></td>
<%end
end %>
    <td><%= link_to 'Show', settlement_settlement %></td>
    <td><%= link_to 'Edit', edit_settlement_settlement_path(settlement_settlement) %></td>
    <td><%= link_to 'Destroy', settlement_settlement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= if (@paginate) 
  will_paginate @settlement_settlements 
end %>

<br />

<%= link_to 'New Settlement', new_settlement_settlement_path %>
