<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @settlement_settlement.type_id %>
</p>

<p>
  <b>Region:</b>
  <%= @settlement_settlement.region_id %>
</p>

<p>
  <b>Location:</b>
  <%= @settlement_settlement.location_id %>
</p>

<p>
  <b>Node:</b>
  <%= @settlement_settlement.node_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @settlement_settlement.owner_id %>
</p>

<p>
  <b>Alliance:</b>
  <%= @settlement_settlement.alliance_id %>
</p>

<p>
  <b>Level:</b>
  <%= @settlement_settlement.level %>
</p>

<p>
  <b>Founded at:</b>
  <%= @settlement_settlement.founded_at %>
</p>

<p>
  <b>Founder:</b>
  <%= @settlement_settlement.founder_id %>
</p>

<p>
  <b>Defense bonus:</b>
  <%= @settlement_settlement.defense_bonus %>
</p>

<p>
  <b>Morale:</b>
  <%= @settlement_settlement.morale %>
</p>

<p>
  <b>Tax rate:</b>
  <%= @settlement_settlement.tax_rate %>
</p>

<p>
  <b>Owns region:</b>
  <%= @settlement_settlement.owns_region %>
</p>

<p>
  <b>Taxable:</b>
  <%= @settlement_settlement.taxable %>
</p>

<p>
  <b>Command points:</b>
  <%= @settlement_settlement.command_points %>
</p>

<p>
  <b>Armies count:</b>
  <%= @settlement_settlement.armies_count %>
</p>

<p>
  <b>Garrison:</b>
  <%= @settlement_settlement.garrison_id %>
</p>

<p>
  <b>Besieged:</b>
  <%= @settlement_settlement.besieged %>
</p>

<h2>Ability Unlocking</h2>
<% Settlement::Settlement.new.attributes.each do |attribute, value| 
  if attribute.start_with? 'settlement_unlock' %>
<p>
  <b><%= attribute %>:</b>
  <%= @settlement_settlement[attribute] %>
</p>
<%end
end %>


<h2>Production Queue Unlocking</h2>
<% Settlement::Settlement.new.attributes.each do |attribute, value| 
  if attribute.start_with? 'settlement_queue' %>
<p>
  <b><%= attribute %>:</b>
  <%= @settlement_settlement[attribute] %>
</p>
<%end
end %>

<h2>Resource Production</h2>
<% Settlement::Settlement.new.attributes.each do |attribute, value| 
  if attribute.start_with?('resource_') %>
<p>
  <b><%= attribute %>:</b>
  <%= @settlement_settlement[attribute] %>
</p>
<%end
end %>


<%= link_to 'Edit', edit_settlement_settlement_path(@settlement_settlement) %> |
<%= link_to 'Back', settlement_settlements_path %>
