<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @fundamental_alliance.tag %>
</p>

<p>
  <b>Name:</b>
  <%= @fundamental_alliance.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fundamental_alliance.description %>
</p>

<p>
  <b>Banner:</b>
  <%= @fundamental_alliance.banner %>
</p>

<p>
  <b>Leader:</b>
  <%= @fundamental_alliance.leader_id %>
</p>

<p>
  <b>Password:</b>
  <%= @fundamental_alliance.password %>
</p>


<%= link_to 'Edit', edit_fundamental_alliance_path(@fundamental_alliance) %> |
<%= link_to 'Back', fundamental_alliances_path %>
