<p id="notice"><%= notice %></p>



<h2>Character</h2>
<p>
   <%= @fundamental_character.id %> | <%= @fundamental_character.identifier %> | 
  <b><%= @fundamental_character.name %></b>
</p>


<% if @not_found %>
  This character does <b>not</b> have any persistent properties on the identity provider.
  
  <%= form_tag fundamental_persistent_character_properties_path do %>
    <%= hidden_field_tag(:identity_id, @fundamental_character.identifier) %>
    <%= submit_tag 'Create Empty Property Object'%>
  <% end %>
  
<% elsif @error_code %>
  The identity provider responded with the following error code: <%= @error_code %> and message: <%= @error %>
<% else %>

  <p><b>Stored Property Object for identity <%= @properties['identity_id']%> on Identity Provider:</b></p>
  <p><b>Created:</b>     <%= @properties['created_at']%><br/>
     <b>Updated:</b>     <%= @properties['updated_at']%></p>

  <%if !@properties['data'].blank? %>
    <p>
      <% @properties.data.each do |key,value| %>
        <b><%=key%>:</b> <%=value%></b><br/>
      <% end %>
    </p>
  <%else%>
    <p><b>No character attributes set.</b></p>
  <%end%>
  
  <%= link_to 'Edit', edit_fundamental_persistent_character_property_path(@fundamental_character.id) %> |

<%end%>
<%= link_to 'Character', @fundamental_character %> |
<%= link_to 'Character List', fundamental_characters_path %>
  
  
<br/><br/><br/>
<p><b>Note</b><p>
<p>This page displays the 'persistent character properties'. These are properties that
   persist over several rounds (that is, the character has these properties in all
   games of this particular type). These properties are stored within the identity provider together with the identity. Use the button to create or modify the attributes.</p>