<%= form_for(@fundamental_round_info) do |f| %>
  <% if @fundamental_round_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundamental_round_info.errors.count, "error") %> prohibited this fundamental_round_info from being saved:</h2>

      <ul>
      <% @fundamental_round_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
