<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fundamental_round_info.name %> (Round <%= @fundamental_round_info.number %>)
</p>

<p>
  <b>Started at:</b>
  <%= @fundamental_round_info.started_at %>
</p>

<p>
  <b>Age in Days:</b>
  <%= @fundamental_round_info.age %>
</p>

<p>
  <b>Regions count:</b>
  <%= @fundamental_round_info.regions_count %>
</p>

<p>
  <b>Victory gained at:</b>
  <%= @fundamental_round_info.victory_gained_at %>
</p>

<p>
  <b>Winning Alliance:</b>
  <%= @fundamental_round_info.winner_alliance_id %>
</p>

<p>
  <b>Victory Type:</b>
  <%= @fundamental_round_info.victory_type %>
</p>


<%= link_to 'Edit', edit_fundamental_round_info_path(@fundamental_round_info) %> |
<%= link_to 'Back', fundamental_round_info_path %>
