<%= form_for(@messaging_archive_entry) do |f| %>
  <% if @messaging_archive_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@messaging_archive_entry.errors.count, "error") %> prohibited this messaging_archive_entry from being saved:</h2>

      <ul>
      <% @messaging_archive_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inbox_id %><br />
    <%= f.number_field :inbox_id %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :message_id %><br />
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :sender_id %><br />
    <%= f.number_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
