<% if !@map_region.fortress.nil? %>
<p><b>Fortress:<b> <%= link_to "Settlement ##{@map_region.fortress.id}", settlement_settlement_path(@map_region.fortress)%>
  ( owned by 
    <%= link_to @map_region.fortress.owner.name, fundamental_character_path(@map_region.fortress.owner) %>
    <% if @map_region.fortress.alliance_id %> 
      | <%= link_to @map_region.fortress.alliance.tag, fundamental_alliance_path(@map_region.fortress.alliance_id) %>
    <%end%>
  )
<% end %>

<% @map_region.settlements.each do |settlement| %>
<br/>
<b>Settlement:<b> 
  <%= link_to "##{settlement.id}", settlement_settlement_path(settlement)%>
  ( owned by 
    <%= link_to settlement.owner.name, fundamental_character_path(settlement.owner) %>
    <% if settlement.alliance_id %> 
      | <%= link_to settlement.alliance.tag, fundamental_alliance_path(settlement.alliance_id) %>
    <%end%>
  )
<% end %>
</p>

<% @map_region.locations.each do |location| %>
<br/>
<b>Location:<b> 
  <%= link_to "##{location.id}", map_location_path(location)%> slot <%= location.slot %>
  <% if location.settlement %>
    ( has a settlement owned by 
      <%= link_to location.settlement.owner.name, fundamental_character_path(location.settlement.owner) %>
      <% if location.settlement.alliance_id %> 
        | <%= link_to location.settlement.alliance.tag, fundamental_alliance_path(location.settlement.alliance_id) %>
      <%end%>
    )
  <% end %>
<% end %>
</p>


<p id="notice"><%= notice %></p>

<p>
  <b>Node:</b>
  <%= @map_region.node_id %>
</p>

<p>
  <b>Name:</b>
  <%= @map_region.name %>
</p>

<p>
  <b>Settlement Type:</b>
  <%= @map_region.settlement_type_id %>
</p>

<p>
  <b>Settlement Level:</b>
  <%= @map_region.settlement_level %>
</p>

<p>
  <b>Owner:</b>
  <%= @map_region.owner_id %>
</p>

<p>
  <b>Owner name:</b>
  <%= link_to @map_region.owner_name, @map_region.owner %>
</p>

<p>
  <b>Alliance:</b>
  <%= @map_region.alliance_id %>
</p>

<p>
  <b>Alliance tag:</b>
  <%= link_to @map_region.alliance_tag, @map_region.alliance %>
</p>

<p>
  <b>Count outposts:</b>
  <%= @map_region.count_outposts %>
</p>

<p>
  <b>Count settlements:</b>
  <%= @map_region.count_settlements %>
</p>

<p>
  <b>Terrain:</b>
  <%= @map_region.terrain_id %>
</p>




<%= link_to 'Edit', edit_map_region_path(@map_region) %> |
<%= link_to 'Back', map_regions_path %>
