<h1>Listing action_military_attack_army_actions</h1>

<table>
  <tr>
    <th>Attacker</th>
    <th>Defender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @action_military_attack_army_actions.each do |action_military_attack_army_action| %>
  <tr>
    <td><%= action_military_attack_army_action.attacker_id %></td>
    <td><%= action_military_attack_army_action.defender_id %></td>
    <td><%= link_to 'Show', action_military_attack_army_action %></td>
    <td><%= link_to 'Edit', edit_action_military_attack_army_action_path(action_military_attack_army_action) %></td>
    <td><%= link_to 'Destroy', action_military_attack_army_action, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attack army action', new_action_military_attack_army_action_path %>
