<%= form_for(@ranking_character_ranking) do |f| %>
  <% if @ranking_character_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ranking_character_ranking.errors.count, "error") %> prohibited this ranking_character_ranking from being saved:</h2>

      <ul>
      <% @ranking_character_ranking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br />
    <%= f.number_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :character_name %><br />
    <%= f.text_field :character_name %>
  </div>
  <div class="field">
    <%= f.label :alliance_id %><br />
    <%= f.number_field :alliance_id %>
  </div>
  <div class="field">
    <%= f.label :alliance_tag %><br />
    <%= f.text_field :alliance_tag %>
  </div>
  <div class="field">
    <%= f.label :overall_score %><br />
    <%= f.number_field :overall_score %>
  </div>
  <div class="field">
    <%= f.label :overall_rank %><br />
    <%= f.number_field :overall_rank %>
  </div>
  <div class="field">
    <%= f.label :resource_score %><br />
    <%= f.number_field :resource_score %>
  </div>
  <div class="field">
    <%= f.label :resource_rank %><br />
    <%= f.number_field :resource_rank %>
  </div>
  <div class="field">
    <%= f.label :power_score %><br />
    <%= f.number_field :power_score %>
  </div>
  <div class="field">
    <%= f.label :power_rank %><br />
    <%= f.number_field :power_rank %>
  </div>
  <div class="field">
    <%= f.label :num_settlements %><br />
    <%= f.number_field :num_settlements %>
  </div>
  <div class="field">
    <%= f.label :settlements_rank %><br />
    <%= f.number_field :settlements_rank %>
  </div>
  <div class="field">
    <%= f.label :num_outposts %><br />
    <%= f.number_field :num_outposts %>
  </div>
  <div class="field">
    <%= f.label :outposts_rank %><br />
    <%= f.number_field :outposts_rank %>
  </div>
  <div class="field">
    <%= f.label :num_fortress %><br />
    <%= f.number_field :num_fortress %>
  </div>
  <div class="field">
    <%= f.label :fortress_rank %><br />
    <%= f.number_field :fortress_rank %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
