<div class="player-ranking">
<div class="player-ranking-pane">

  <h1>Player Ranking</h1>

  <table>
    <tr>
      <th>Rank</th>
      <th>Character</th>
      <th class="number"><%= link_to "Overall score", ranking_character_rankings_path(:sort => 'overall') %></th>
      <th class="number"><%= link_to "Resource score", ranking_character_rankings_path(:sort => 'resource') %></th>
    </tr>
    <% 
      rank = 0
      @ranking_character_rankings.each do |ranking_character_ranking|   
    %>
    <tr>
      <td><%= rank=rank+1%></td>
      <td><%= ranking_character_ranking.character_name %> 
          <% if !ranking_character_ranking.alliance_tag.blank? %>
            | <%= ranking_character_ranking.alliance_tag %>
          <%end%>
      </td>
      <td class="number"><%= ranking_character_ranking.overall_score %></td>
      <td class="number"><%= ranking_character_ranking.resource_score %></td>
    </tr>
    <% end %>
  </table>

</div>
</div>
