<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @ranking_character_ranking.character_id %>
</p>

<p>
  <b>Character name:</b>
  <%= @ranking_character_ranking.character_name %>
</p>

<p>
  <b>Alliance:</b>
  <%= @ranking_character_ranking.alliance_id %>
</p>

<p>
  <b>Alliance tag:</b>
  <%= @ranking_character_ranking.alliance_tag %>
</p>

<p>
  <b>Overall score:</b>
  <%= @ranking_character_ranking.overall_score %>
</p>

<p>
  <b>Overall rank:</b>
  <%= @ranking_character_ranking.overall_rank %>
</p>

<p>
  <b>Resource score:</b>
  <%= @ranking_character_ranking.resource_score %>
</p>

<p>
  <b>Resource rank:</b>
  <%= @ranking_character_ranking.resource_rank %>
</p>

<p>
  <b>Power score:</b>
  <%= @ranking_character_ranking.power_score %>
</p>

<p>
  <b>Power rank:</b>
  <%= @ranking_character_ranking.power_rank %>
</p>

<p>
  <b>Num settlements:</b>
  <%= @ranking_character_ranking.num_settlements %>
</p>

<p>
  <b>Settlements rank:</b>
  <%= @ranking_character_ranking.settlements_rank %>
</p>

<p>
  <b>Num outposts:</b>
  <%= @ranking_character_ranking.num_outposts %>
</p>

<p>
  <b>Outposts rank:</b>
  <%= @ranking_character_ranking.outposts_rank %>
</p>

<p>
  <b>Num fortress:</b>
  <%= @ranking_character_ranking.num_fortress %>
</p>

<p>
  <b>Fortress rank:</b>
  <%= @ranking_character_ranking.fortress_rank %>
</p>


<%= link_to 'Edit', edit_ranking_character_ranking_path(@ranking_character_ranking) %> |
<%= link_to 'Back', ranking_character_rankings_path %>
