<%= form_for(@map_location) do |f| %>
  <% if @map_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map_location.errors.count, "error") %> prohibited this map_location from being saved:</h2>

      <ul>
      <% @map_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.number_field :region_id %>
  </div>
  <div class="field">
    <%= f.label :slot %><br />
    <%= f.number_field :slot %>
  </div>
  <div class="field">
    <%= f.label :settlement_type_id %><br />
    <%= f.number_field :settlement_type_id %>
  </div>
  <div class="field">
    <%= f.label :settlement_level %><br />
    <%= f.number_field :settlement_level %>
  </div>
  <div class="field">
    <%= f.label :count_markers %><br />
    <%= f.number_field :count_markers %>
  </div>
  <div class="field">
    <%= f.label :count_armies %><br />
    <%= f.number_field :count_armies %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :owner_name %><br />
    <%= f.text_field :owner_name %>
  </div>
  <div class="field">
    <%= f.label :alliance_id %><br />
    <%= f.number_field :alliance_id %>
  </div>
  <div class="field">
    <%= f.label :alliance_tag %><br />
    <%= f.text_field :alliance_tag %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
