<h1>Listing map_locations</h1>

<%= if @paginate
  will_paginate @map_locations 
end %>


<table>
  <tr>
    <th>Region</th>
    <th>Slot</th>
    <th>Settlement Type and Size</th>
    <th>Count markers</th>
    <th>Count armies</th>
    <th>Owner</th>
    <th>Alliance</th>
    <th>Visible</th>
    <th>Right of Way</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_locations.each do |map_location| %>
  <tr>
    <td><%= map_location.region_id %></td>
    <td><%= map_location.slot %></td>
    <td><%= "#{GameRules::Rules.the_rules.settlement_types[map_location.settlement_type_id][:name][:en_US]} T#{map_location.settlement_type_id}" unless map_location.settlement_type_id.blank? || map_location.settlement_type_id > 1 %> <%= "L#{map_location.settlement_level}" unless map_location.settlement_level.nil? %></td>
    <td><%= map_location.count_markers %></td>
    <td><%= map_location.count_armies %></td>
    <td><%= map_location.owner_name %> <%= "(#{ map_location.owner_id})"  unless map_location.owner_id.blank? %></td>
    <td><%= map_location.alliance_tag %> <%="(#{ map_location.alliance_id})"  unless map_location.alliance_id.blank? %></td>
    <td><%= map_location.visible %></td>
    <td><%= map_location.right_of_way %></td>
    <td><%= link_to 'Show', map_location %></td>
    <td><%= link_to 'Edit', edit_map_location_path(map_location) %></td>
    <td><%= link_to 'Destroy', map_location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_map_location_path %>

<%= if @paginate
  will_paginate @map_locations 
end %>