<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= link_to "##{@map_location.region_id}", map_location_path(@map_location.region_id) %>
</p>

<p>
  <b>Slot:</b>
  <%= @map_location.slot %>
</p>

<p>
  <b>Settlement:</b> 
  <% if !@map_location.settlement.nil? %>
    Settlement <%= link_to "##{@map_location.settlement.id}", @map_location.settlement %>
    of Type <%= @map_location.settlement_type_id %>
    with level <%= @map_location.settlement_level %>
    ( owned by
      <%= link_to @map_location.settlement.owner.name, fundamental_character_path(@map_location.settlement.owner) %>
      <% if @map_location.settlement.alliance_id %> 
        | <%= link_to @map_location.settlement.alliance.tag, fundamental_alliance_path(@map_location.settlement.alliance_id) %>
      <%end%>
    )
  <% else %>
    none
  <% end %>
</p>

<p>
  <b>Count markers:</b>
  <%= @map_location.count_markers %>
</p>

<p>
  <b>Count armies:</b>
  <%= @map_location.count_armies %>
</p>

<p>
  <b>Owner:</b>
  <%= @map_location.owner_id %>
</p>

<p>
  <b>Owner name:</b>
  <%= @map_location.owner_name %>
</p>

<p>
  <b>Alliance:</b>
  <%= @map_location.alliance_id %>
</p>

<p>
  <b>Alliance Tag:</b>
  <%= @map_location.alliance_tag %>
</p>

<p>
  <b>Visible:</b>
  <%= @map_location.visible %>
</p>


<%= link_to 'Edit', edit_map_location_path(@map_location) %> |
<%= link_to 'Back', map_locations_path %>
