<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @shop_special_offers_transaction.character_id %>
</p>

<p>
  <b>External Offer ID:</b>
  <%= @shop_special_offers_transaction.external_offer_id %>
</p>

<p>
  <b>State:</b>
  <%= Shop::Transaction::STATES[@shop_special_offers_transaction.state] %>
</p>


<%= link_to 'Edit', edit_shop_special_offers_transaction_path(@shop_special_offers_transaction) %> |
<%= link_to 'Back', shop_special_offers_transactions_path %>
