<h1>Listing facebook_object_types</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Image</th>
    <th>TypeName</th>
    <th>Description</th>
    <th>See also</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facebook_user_stories.each do |facebook_user_story| %>
  <tr>
    <td><%= facebook_user_story[:url] %></td>
    <td><%= facebook_user_story[:name][:de_DE] %></td>
    <td><%= facebook_user_story[:image_url] %></td>
    <td><%= facebook_user_story[:type] %></td>
    <td><%= facebook_user_story[:description][:de_DE] %></td>
    <td><%= facebook_user_story[:see_also_url] %></td>
  </tr>
<% end %>
</table>

<br />
