<%= form_for(@fundamental_announcement) do |f| %>
  <% if @fundamental_announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundamental_announcement.errors.count, "error") %> prohibited this fundamental_announcement from being saved:</h2>

      <ul>
      <% @fundamental_announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if @original.nil? %>
    <div class="field">
      Default Locale: <%= @fundamental_announcement[:locale] %>
      <%= f.hidden_field :locale %>
    </div>
  <%else%>
    Original Announcement:<br>
    <br><%= @original[:heading] %></b><br/>
    <%= @original[:body] %>
  
    <div class="field">
      <%= f.hidden_field :original_id %>
    </div>

    <div class="field">
      <%= f.label :locale %><br />
      <%= f.select(:locale, options_for_select([["de", "de"] ])) %>
    </div>
  <%end%>
  
  <div class="field">
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
