<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b> <%= @fundamental_announcement.id %> |
  <b>Original Id:</b> <%= @fundamental_announcement.original_id.blank? ? '-' : @fundamental_announcement.original_id %> |
  <b>Locale:</b>
  <%= @fundamental_announcement.locale %>
</p>

<h1>
  <%= @fundamental_announcement.heading %>
</h1>

<%= @fundamental_announcement.body.html_safe %>

<p>
  <b>Expires:</b>
  <%= @fundamental_announcement.expires %>
</p>

<p>
  <b>User:</b>
  <%= @fundamental_announcement.user_id %>
</p>


<%= link_to 'Edit', edit_fundamental_announcement_path(@fundamental_announcement) %> |
<%= link_to 'Back', fundamental_announcements_path %>
