<h1>Listing shop_offers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_offers.each do |shop_offer| %>
  <tr>
    <td><%= shop_offer.title %></td>
    <td><%= shop_offer.description %></td>
    <td><%= shop_offer.price %></td>
    <td><%= shop_offer.amount %></td>
    <td><%= link_to 'Show', shop_offer %></td>
    <td><%= link_to 'Edit', edit_shop_offer_path(shop_offer) %></td>
    <td><%= link_to 'Destroy', shop_offer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_shop_offer_path %>
