<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shop_offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @shop_offer.description %>
</p>

<p>
  <b>Price:</b>
  <%= @shop_offer.price %>
</p>

<p>
  <b>Amount:</b>
  <%= @shop_offer.amount %>
</p>


<%= link_to 'Edit', edit_shop_offer_path(@shop_offer) %> |
<%= link_to 'Back', shop_offers_path %>
