<div class="player-ranking">
<div class="player-ranking-pane">

  <h1><%= link_to "Players", ranking_character_rankings_path %> | Alliances</h1>

  <table>
    <tr>
      <th>Rank</th>
      <th>Alliance</th>
      <th class="number"><%= link_to "Overall score", ranking_alliance_rankings_path(:sort => 'overall') %></th>
      <th class="number"><%= link_to "Resource score", ranking_alliance_rankings_path(:sort => 'resource') %></th>
      <th class="number"><%= link_to "Members", ranking_alliance_rankings_path(:sort => 'members') %></th>
    </tr>
    <% 
      rank = 0
      @ranking_alliance_rankings.each do |ranking_alliance_ranking|   
    %>
    <tr>
      <td><%= rank=rank+1%></td>
      <td><%= ranking_alliance_ranking.alliance_tag %> </td>
      <td class="number"><%= ranking_alliance_ranking.overall_score %></td>
      <td class="number"><%= ranking_alliance_ranking.resource_score %></td>
      <td class="number"><%= ranking_alliance_ranking.num_members %></td>
    </tr>
    <% end %>
  </table>
  

</div>
</div>




