<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @tutorial_quest.state_id %>
</p>

<p>
  <b>Quest:</b>
  <%= @tutorial_quest.quest_id %>
</p>

<p>
  <b>Status:</b>
  <%= Tutorial::Quest::STATES[@tutorial_quest.status] %>
</p>

<p>
  <b>Created at:</b>
  <%= @tutorial_quest.created_at %>
</p>

<p>
  <b>Displayed at:</b>
  <%= @tutorial_quest.displayed_at %>
</p>

<p>
  <b>Finished at:</b>
  <%= @tutorial_quest.finished_at %>
</p>

<p>
  <b>Closed at:</b>
  <%= @tutorial_quest.closed_at %>
</p>


<%= link_to 'Edit', edit_tutorial_quest_path(@tutorial_quest) %> |
<%= link_to 'Back', tutorial_quests_path %>
