<h1>Listing messaging_inboxes</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Messages count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messaging_inboxes.each do |messaging_inbox| %>
  <tr>
    <td><%= messaging_inbox.owner_id %></td>
    <td><%= messaging_inbox.messages_count %></td>
    <td><%= link_to 'Show', messaging_inbox %></td>
    <td><%= link_to 'Edit', edit_messaging_inbox_path(messaging_inbox) %></td>
    <td><%= link_to 'Destroy', messaging_inbox, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inbox', new_messaging_inbox_path %>
