<p id="notice"><%= notice %></p>

<ul>
  <li><b>Owner:</b> <%= @messaging_inbox.owner_id %></li>
  <li><b>Messages count:</b><%= @messaging_inbox.messages_count %></li>
</ul>

<table>
  <tr>
    <th>Inbox</th>
    <th>Owner</th>
    <th>Message</th>
    <th>Sender</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messaging_inbox.entries.each do |messaging_inbox_entry| %>
  <tr>
    <td><%= messaging_inbox_entry.inbox_id %></td>
    <td><%= messaging_inbox_entry.owner_id %></td>
    <td><%= messaging_inbox_entry.message_id %></td>
    <td><%= messaging_inbox_entry.sender_id %></td>
    <td><%= messaging_inbox_entry.subject %></td>
    <td><%= link_to 'Show', messaging_inbox_entry %></td>
    <td><%= link_to 'Edit', edit_messaging_inbox_entry_path(messaging_inbox_entry) %></td>
    <td><%= link_to 'Destroy', messaging_inbox_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_messaging_inbox_path(@messaging_inbox) %> |
<%= link_to 'Back', messaging_inboxes_path %>
