<p id="notice"><%= notice %></p>

<p>
  <b>Alliance:</b>
  <%= @fundamental_alliance_reservation.alliance_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @fundamental_alliance_reservation.tag %>
</p>

<p>
  <b>Name:</b>
  <%= @fundamental_alliance_reservation.name %>
</p>

<p>
  <b>Password:</b>
  <%= @fundamental_alliance_reservation.password %>
</p>


<%= link_to 'Edit', edit_fundamental_alliance_reservation_path(@fundamental_alliance_reservation) %> |
<%= link_to 'Back', fundamental_alliance_reservations_path %>
