<h1>Listing settlement_histories</h1>

<table>
  <tr>
    <th>Settlement</th>
    <th>Event type</th>
    <th>Owner</th>
    <th>Owner name</th>
    <th>Alliance</th>
    <th>Alliance tag</th>
    <th>Level</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settlement_histories.each do |settlement_history| %>
  <tr>
    <td><%= settlement_history.settlement_id %></td>
    <td><%= settlement_history.event_type %></td>
    <td><%= settlement_history.owner_id %></td>
    <td><%= settlement_history.owner_name %></td>
    <td><%= settlement_history.alliance_id %></td>
    <td><%= settlement_history.alliance_tag %></td>
    <td><%= settlement_history.level %></td>
    <td><%= settlement_history.points %></td>
    <td><%= link_to 'Show', settlement_history %></td>
    <td><%= link_to 'Edit', edit_settlement_history_path(settlement_history) %></td>
    <td><%= link_to 'Destroy', settlement_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New History', new_settlement_history_path %>
