<h1>Listing map_nodes</h1>

<%= will_paginate @map_nodes %>


<table>
  <tr>
    <th>Path</th>
    <th>Min x</th>
    <th>Min y</th>
    <th>Max x</th>
    <th>Max y</th>
    <th>Parent</th>
    <th>Leaf</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_nodes.each do |map_node| %>
  <tr>
    <td><%= map_node.path %></td>
    <td><%= map_node.min_x %></td>
    <td><%= map_node.min_y %></td>
    <td><%= map_node.max_x %></td>
    <td><%= map_node.max_y %></td>
    <td><%= map_node.parent_id %></td>
    <td><%= map_node.leaf %></td>
    <td><%= map_node.level %></td>
    <td><%= link_to 'Show', map_node %></td>
    <td><%= link_to 'Edit', edit_map_node_path(map_node) %></td>
    <td><%= link_to 'Destroy', map_node, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Node', new_map_node_path %>

<%= will_paginate @map_nodes %>
