<% if @map_node.leaf? %>
<p><b>Region:</b> <%= link_to "##{@map_node.region.id}", map_region_path(@map_node.region)%> 
  ( owned by 
    <%= link_to @map_node.region.owner_name, fundamental_character_path(@map_node.region.owner_id) %>
    <% if @map_node.region.alliance_id %> 
      | <%= link_to @map_node.region.alliance_tag, fundamental_alliance_path(@map_node.region.alliance_id) %>
    <%end%>
  )
<% end %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @map_node.path %>
</p>

<p>
  <b>Min x:</b>
  <%= @map_node.min_x %>
</p>

<p>
  <b>Min y:</b>
  <%= @map_node.min_y %>
</p>

<p>
  <b>Max x:</b>
  <%= @map_node.max_x %>
</p>

<p>
  <b>Max y:</b>
  <%= @map_node.max_y %>
</p>

<p>
  <b>Parent:</b>
  <%= @map_node.parent_id %>
</p>

<p>
  <b>Leaf:</b>
  <%= @map_node.leaf %>
</p>

<p>
  <b>Level:</b>
  <%= @map_node.level %>
</p>



<p>
  <b>Created:</b>
  <%= @map_node.created_at %>
</p>


<p>
  <b>Updated:</b>
  <%= @map_node.updated_at %>
</p>

<%= link_to 'Edit', edit_map_node_path(@map_node) %> |
<%= link_to 'Back', map_nodes_path %>
