<%= form_for(@military_army_detail) do |f| %>
  <% if @military_army_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@military_army_detail.errors.count, "error") %> prohibited this military_army_detail from being saved:</h2>

      <ul>
      <% @military_army_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :army_id %><br />
    <%= f.number_field :army_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
