<h1>Listing construction_jobs</h1>

<%= if (@paginate) 
  will_paginate @construction_jobs 
end %>

<table>
  <tr>
    <th>Queue</th>
    <th>Slot</th>
    <th>Building type</th>
    <th>Position</th>
    <th>Level before</th>
    <th>Level after</th>
    <th>Job type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construction_jobs.each do |construction_job| %>
  <tr>
    <td><%= link_to("#{construction_job.queue_id}", construction_queue_path(construction_job.queue_id)) %></td>
    <td><%= link_to("#{construction_job.slot_id}", settlement_slot_path(construction_job.slot_id)) %></td>
    <td><%= construction_job.building_id %></td>
    <td><%= construction_job.position %></td>
    <td><%= construction_job.level_before %></td>
    <td><%= construction_job.level_after %></td>
    <td><%= construction_job.job_type %></td>
    <td><%= link_to 'Show', construction_job %></td>
    <td><%= link_to 'Edit', edit_construction_job_path(construction_job) %></td>
    <td><%= link_to 'Destroy', construction_job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= if (@paginate) 
  will_paginate @construction_jobs 
end %>

<br />

<%= link_to 'New Job', new_construction_job_path %>
