<p id="notice"><%= notice %></p>

<p>
  <b>Inbox:</b>
  <%= @messaging_inbox_entry.inbox_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @messaging_inbox_entry.owner_id %>
</p>

<p>
  <b>Message:</b>
  <%= @messaging_inbox_entry.message_id %>
</p>

<p>
  <b>Sender:</b>
  <%= @messaging_inbox_entry.sender_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @messaging_inbox_entry.subject %>
</p>


<%= link_to 'Edit', edit_messaging_inbox_entry_path(@messaging_inbox_entry) %> |
<%= link_to 'Back', messaging_inbox_entries_path %>
