<p id="notice"><%= notice %></p>

<p>
  <b>New users:</b>
  <%= @backend_stat.new_users %>
</p>

<p>
  <b>Dau:</b>
  <%= @backend_stat.dau %>
</p>

<p>
  <b>Wau:</b>
  <%= @backend_stat.wau %>
</p>

<p>
  <b>Mau:</b>
  <%= @backend_stat.mau %>
</p>

<p>
  <b>Active users:</b>
  <%= @backend_stat.active_users %>
</p>

<p>
  <b>Churn today:</b>
  <%= @backend_stat.churn_today %>
</p>

<p>
  <b>Churn week:</b>
  <%= @backend_stat.churn_week %>
</p>

<p>
  <b>Churn month:</b>
  <%= @backend_stat.churn_month %>
</p>

<p>
  <b>Dac:</b>
  <%= @backend_stat.dac %>
</p>

<p>
  <b>Wac:</b>
  <%= @backend_stat.wac %>
</p>

<p>
  <b>Mac:</b>
  <%= @backend_stat.mac %>
</p>

<p>
  <b>Du:</b>
  <%= @backend_stat.du %>
</p>

<p>
  <b>Wu:</b>
  <%= @backend_stat.wu %>
</p>

<p>
  <b>Mu:</b>
  <%= @backend_stat.mu %>
</p>

<p>
  <b>Dc:</b>
  <%= @backend_stat.dc %>
</p>

<p>
  <b>Wc:</b>
  <%= @backend_stat.wc %>
</p>

<p>
  <b>Mc:</b>
  <%= @backend_stat.mc %>
</p>


<%= link_to 'Edit', edit_backend_stat_path(@backend_stat) %> |
<%= link_to 'Back', backend_stats_path %>
