<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @action_trading_trading_carts_action.sender_id %>
</p>

<p>
  <b>Recipient:</b>
  <%= @action_trading_trading_carts_action.recipient_id %>
</p>

<p>
  <b>Starting region:</b>
  <%= @action_trading_trading_carts_action.starting_region_id %>
</p>

<p>
  <b>Target region:</b>
  <%= @action_trading_trading_carts_action.target_region_id %>
</p>

<p>
  <b>Returning:</b>
  <%= @action_trading_trading_carts_action.returning %>
</p>

<p>
  <b>Target reached at:</b>
  <%= @action_trading_trading_carts_action.target_reached_at %>
</p>

<p>
  <b>Returned at:</b>
  <%= @action_trading_trading_carts_action.returned_at %>
</p>

<p>
  <b>Num carts:</b>
  <%= @action_trading_trading_carts_action.num_carts %>
</p>

<p>
  <b>Event:</b>
  <%= @action_trading_trading_carts_action.event_id %>
</p>

<p>
  <b>Sender ip:</b>
  <%= @action_trading_trading_carts_action.sender_ip %>
</p>

<p>
  <b>Starting settlement:</b>
  <%= @action_trading_trading_carts_action.starting_settlement_id %>
</p>

<p>
  <b>Target settlement:</b>
  <%= @action_trading_trading_carts_action.target_settlement_id %>
</p>


<%= link_to 'Edit', edit_action_trading_trading_carts_action_path(@action_trading_trading_carts_action) %> |
<%= link_to 'Back', action_trading_trading_carts_actions_path %>
