<h1>Listing events_events</h1>

<table>
  <tr>
    <th>Character</th>
    <th>Execute at</th>
    <th>Event type</th>
    <th>Locked at</th>
    <th>Locked by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events_events.each do |events_event| %>
  <tr>
    <td><%= events_event.character_id %></td>
    <td><%= events_event.execute_at %></td>
    <td><%= events_event.event_type %></td>
    <td><%= events_event.locked_at %></td>
    <td><%= events_event.locked_by %></td>
    <td><%= link_to 'Show', events_event %></td>
    <td><%= link_to 'Edit', edit_events_event_path(events_event) %></td>
    <td><%= link_to 'Destroy', events_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_events_event_path %>
