<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @events_event.character_id %>
</p>

<p>
  <b>Execute at:</b>
  <%= @events_event.execute_at %>
</p>

<p>
  <b>Event type:</b>
  <%= @events_event.event_type %>
</p>

<p>
  <b>Locked at:</b>
  <%= @events_event.locked_at %>
</p>

<p>
  <b>Locked by:</b>
  <%= @events_event.locked_by %>
</p>


<%= link_to 'Edit', edit_events_event_path(@events_event) %> |
<%= link_to 'Back', events_events_path %>
