<%= form_for(@fundamental_artifact) do |f| %>
  <% if @fundamental_artifact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundamental_artifact.errors.count, "error") %> prohibited this fundamental_artifact from being saved:</h2>

      <ul>
      <% @fundamental_artifact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.number_field :region_id %>
  </div>
  <div class="field">
    <%= f.label :settlement_id %><br />
    <%= f.number_field :settlement_id %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :army_id %><br />
    <%= f.number_field :army_id %>
  </div>
  <div class="field">
    <%= f.label :alliance_id %><br />
    <%= f.number_field :alliance_id %>
  </div>
  <div class="field">
    <%= f.label :initiated %><br />
    <%= f.check_box :initiated %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="field">
    <%= f.label :last_initiated_at %><br />
    <%= f.datetime_select :last_initiated_at %>
  </div>
  <div class="field">
    <%= f.label :last_captured_at %><br />
    <%= f.datetime_select :last_captured_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
