<h1>Listing messaging_archives</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Messages count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messaging_archives.each do |messaging_archive| %>
  <tr>
    <td><%= messaging_archive.owner_id %></td>
    <td><%= messaging_archive.messages_count %></td>
    <td><%= link_to 'Show', messaging_archive %></td>
    <td><%= link_to 'Edit', edit_messaging_archive_path(messaging_archive) %></td>
    <td><%= link_to 'Destroy', messaging_archive, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Archive', new_messaging_archive_path %>
