<%= form_for(@effect_construction_effect) do |f| %>
  <% if @effect_construction_effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effect_construction_effect.errors.count, "error") %> prohibited this effect_construction_effect from being saved:</h2>

      <ul>
      <% @effect_construction_effect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :bonus %><br />
    <%= f.text_field :bonus %>
  </div>
  <div class="field">
    <%= f.label :character_id %><br />
    <%= f.number_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :origin_id %><br />
    <%= f.number_field :origin_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
