<h1>Listing shop_google_money_transactions</h1>

<%= if @paginate
      will_paginate @shop_google_money_transactions
    end %>

<table>
  <tr>
    <th>Identifier</th>
    <th>Google Order Id</th>
    <th>Google product</th>
    <th>Credits</th>
    <th>Processed by Google</th>
    <th>Booked by Bytro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_google_money_transactions.each do |shop_google_money_transaction| %>
  <tr>
    <td><%= shop_google_money_transaction.identifier %></td>
    <td><%= shop_google_money_transaction.google_order_id %></td>
    <td><%= shop_google_money_transaction.google_product_id %></td>
    <td><%= shop_google_money_transaction.credits %></td>
    <td><%= shop_google_money_transaction.processed_at %></td>
    <td><%= shop_google_money_transaction.created_at %></td>
    <td><%= link_to 'Show', shop_google_money_transaction %></td>
    <td><%= link_to 'Edit', edit_shop_google_money_transaction_path(shop_google_money_transaction) %></td>
    <td><%= link_to 'Destroy', shop_google_money_transaction, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= if @paginate
      will_paginate @shop_google_money_transactions
    end %>
