<h1>Listing shop_special_offers</h1>

<table>
  <tr>
    <th>External Offer ID</th>
    <th>Price</th>
    <th>Startet at</th>
    <th>Ends at</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_special_offers.each do |shop_special_offer| %>
  <tr>
    <td><%= shop_special_offer.external_offer_id %></td>
    <td><%= shop_special_offer.price %></td>
    <td><%= shop_special_offer.startet_at %></td>
    <td><%= shop_special_offer.ends_at %></td>
    <td><%= shop_special_offer.title %></td>
    <td><%= link_to 'Show', shop_special_offer %></td>
    <td><%= link_to 'Edit', edit_shop_special_offer_path(shop_special_offer) %></td>
    <td><%= link_to 'Destroy', shop_special_offer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special offer', new_shop_special_offer_path %>
