<%= form_for(@training_job) do |f| %>
  <% if @training_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_job.errors.count, "error") %> prohibited this training_job from being saved:</h2>

      <ul>
      <% @training_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :queue_id %><br />
    <%= f.number_field :queue_id %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :quantity_finished %><br />
    <%= f.number_field :quantity_finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
