<%= form_for(@fundamental_character) do |f| %>
  <% if @fundamental_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundamental_character.errors.count, "error") %> prohibited this fundamental_character from being saved:</h2>

      <ul>
      <% @fundamental_character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="red"><b><%= @fundamental_character.platinum_account? ? "Platinum User" : ""%></b></p>



  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :premium_expiration %><br />
    <%= f.datetime_select :premium_expiration %>
  </div>
  <div class="field">
    <%= f.label :insider_since %><br />
    <%= f.datetime_select :insider_since %>
  </div>
  <div class="field">
    <%= f.label :supporter %><br />
    <%= f.check_box :supporter %>
  </div>
  <div class="field">
    <%= f.label :special_supporter %><br />
    <%= f.check_box :special_supporter %>
  </div>
  <div class="field">
    <%= f.label :platinum_lifetime %><br />
    <%= f.check_box :platinum_lifetime %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  
  
  <hr/>
  
  <div class="field">
    <%= f.check_box :banned %><%= f.label :banned %> &nbsp;
    <%= f.label :reason %>
    <%= f.text_field :ban_reason %>
  </div>

  <div class="field">
    <%= f.label :staff_roles %><br />
    <%= f.text_field :staff_roles %><br/>
    comma separated list of roles (available: staff, help, support). these are client-side roles only and have no effect in the backend.
  </div>
  
  <hr/>

    
  <div class="field">
    <%= f.label :exp %><br />
    <%= f.number_field :exp %>
  </div>

  <div class="field">
    <%= f.label :mundane_rank %><br />
    <%= f.number_field :mundane_rank %>
  </div>
  <div class="field">
    <%= f.label :notified_mundane_rank %><br />
    <%= f.number_field :notified_mundane_rank %>
  </div>
  <div class="field">
    <%= f.label :sacred_rank %><br />
    <%= f.number_field :sacred_rank %>
  </div>
  <div class="field">
    <%= f.label :notified_sacred_rank %><br />
    <%= f.number_field :notified_sacred_rank %>
  </div>
  
  <hr/>


  <div class="field">
    <%= f.label :att %><br />
    <%= f.number_field :att %>
  </div>
  <div class="field">
    <%= f.label :def %><br />
    <%= f.number_field :def %>
  </div>
  <div class="field">
    <%= f.label :wins %><br />
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br />
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :health_max %><br />
    <%= f.number_field :health_max %>
  </div>
  <div class="field">
    <%= f.label :health_present %><br />
    <%= f.text_field :health_present %>
  </div>

  <div class="field">
    <%= f.label :skill_points %><br />
    <%= f.number_field :skill_points %>
  </div>
  <div class="field">
    <%= f.label :alliance_id %><br />
    <%= f.number_field :alliance_id %>
  </div>
  <div class="field">
    <%= f.label :alliance_tag %><br />
    <%= f.text_field :alliance_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
