<h1>Listing fundamental_characters</h1>

<%= will_paginate @fundamental_characters %>


<table>
  <tr>
    <th>ID</th>
    <th>Identifier</th>
    <th>Premium</th>
    <th>Staff</th>
    <th>Name</th>
    <th>Login</th>
<% if staff? || admin? %>
    <th>Activity</th>
    <th>Playtime</th>
<% end %>
    <th><span title="Max Completed Quest">Quest</span></th>
    <th>Conversion</th>
<% if staff? || admin? %>
    <th>Gross</th>
<% end %>
    <th>Ranks</th>
    <th>SP</th>
    <th>Banned</th>
    <th>Base</th>
<% if staff? || admin? %>
    <th>Referrer</th>
<% end %>
    <th>Last Retention Mail</th>
    <th>Mail sent at</th>
    <th>V/D</th>
    <th>Deleted</th>
    <th>Same IP Users</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundamental_characters.each do |fundamental_character| %>
  <tr>
    <td><%= fundamental_character.id %></td>
    <td><%= link_to fundamental_character.identifier, GAME_SERVER_CONFIG['identity_provider_base_url'] + "/identities/#{fundamental_character.identifier}" %></td>
    <td><span class="green"><b>
      <%= fundamental_character.platinum_account? ? 'X' : "" %>
    </b></span></td>
    <td><%= fundamental_character.staff_roles %></td>
    <td><%= fundamental_character.name %> 
        <%if !fundamental_character.alliance_tag.blank? %>
          | <%= fundamental_character.alliance_tag %>
        <%end%></td>
    <td><% if !fundamental_character.last_login_at.nil? %>
          
          <span class="<%= fundamental_character.last_login_at > Time.now - Backend::Stat.activity_period ? 'green' : (fundamental_character.last_login_at > Time.now -  (2*Backend::Stat.activity_period) ? 'red' : 'black') %>"><%= time_ago_in_words(fundamental_character.last_login_at) %></span> ago (#<%= fundamental_character.login_count %>)
        <%else%>
          never
        <%end%>
    </td>
<% if staff? || admin? %>
    <td><% if !fundamental_character.last_request_at.nil? %>          
          <%= time_ago_in_words(fundamental_character.last_request_at) %> ago
        <%else%>
          never
        <%end%>
    </td>
    <td><%= ((fundamental_character.playtime || 0.0) / 60.0).ceil %> m</td>
<% end %>
    <td><%= fundamental_character.max_finished_quest %></td>
    <td><%= fundamental_character.max_conversion_state %></td>
<% if staff? || admin? %>
    <td><%= fundamental_character.gross.nil? || fundamental_character.gross <= 0.1 ? "--" : "#{fundamental_character.gross } EUR" %></td>
<% end %>
    <td><%= fundamental_character.mundane_rank %> (XP: <%= fundamental_character.exp %>) / 
        <%= fundamental_character.sacred_rank %></td>
    <td><%= fundamental_character.settlement_points_used %> / 
        <%= fundamental_character.settlement_points_total %></td>
    <td><%= fundamental_character.banned %> <%= fundamental_character.ban_reason %></td>
    <td><%= link_to(fundamental_character.base_location_id, map_location_path(fundamental_character.base_location_id))  unless fundamental_character.base_location_id.nil? %></td>
    <% if staff? || admin? %>
    <td><%= fundamental_character.referer %></td>
    <% end %>
    <td><%= fundamental_character.last_retention_mail.nil? ? '-' : link_to(fundamental_character.last_retention_mail.mail_type, fundamental_character.last_retention_mail) %></td>
    <td><%= fundamental_character.last_retention_mail_sent_at %></td>
    <td><%= fundamental_character.victories %>/<%= fundamental_character.defeats %></td>
    <td style="text-align: center; color: red;"><b><%= fundamental_character.deleted_from_game? ? 'X' : '' %></b></td>
    <td><%= fundamental_character.same_ip %></td>
    <td><%= link_to 'Show', fundamental_character %></td>
    <td><%= link_to 'Properties', fundamental_persistent_character_property_path(fundamental_character.id) %></td>
    <td><%= link_to 'History', fundamental_character_history_events_path(fundamental_character.id) %></td>
    <td><%= link_to 'Edit', edit_fundamental_character_path(fundamental_character) %></td>
    <td><%= link_to 'Destroy', fundamental_character, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @fundamental_characters %>


<br />

<%= link_to 'New Character', new_fundamental_character_path %>
