<h1>Listing fundamental_characters</h1>

<%= will_paginate @fundamental_characters %>


<table>
  <tr>
    <th>ID</th>
    <th>Identifier</th>
    <th>Premium</th>
    <th>Name</th>
    <th>Login</th>
    <th>Activity</th>
    <th>Conversion</th>
    <th>Ranks</th>
    <th>SP</th>
    <th>Locked</th>
    <th>Banned</th>
    <th>Base</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundamental_characters.each do |fundamental_character| %>
  <tr>
    <td><%= fundamental_character.id %></td>
    <td><%= link_to fundamental_character.identifier, GAME_SERVER_CONFIG['identity_provider_base_url'] + "/identities/#{fundamental_character.identifier}" %></td>
    <td><%= fundamental_character.premium_account %></td>
    <td><%= fundamental_character.name %> 
        <%if !fundamental_character.alliance_tag.blank? %>
          | <%= fundamental_character.alliance_tag %>
        <%end%></td>
    <td><% if !fundamental_character.last_login_at.nil? %>
          
          <span class="<%= fundamental_character.last_login_at > Time.now - Backend::Stat.activity_period ? 'green' : (fundamental_character.last_login_at > Time.now -  (2*Backend::Stat.activity_period) ? 'red' : 'black') %>"><%= time_ago_in_words(fundamental_character.last_login_at) %></span> ago (#<%= fundamental_character.login_count %>)
        <%else%>
          never
        <%end%>
    </td>
    <td><% if !fundamental_character.last_request_at.nil? %>          
          <%= time_ago_in_words(fundamental_character.last_request_at) %> ago
        <%else%>
          never
        <%end%>
    </td>
    <td><%= fundamental_character.max_conversion_state %></td>
    <td><%= fundamental_character.mundane_rank %> (XP: <%= fundamental_character.exp %>) / 
        <%= fundamental_character.sacred_rank %></td>
    <td><%= fundamental_character.settlement_points_used %> / 
        <%= fundamental_character.settlement_points_total %></td>
    <td><%= fundamental_character.locked %> <%= fundamental_character.locked_by %></td>
    <td><%= fundamental_character.banned %> <%= fundamental_character.ban_reason %></td>
    <td><%= fundamental_character.base_location_id %></td>
    <td><%= link_to 'Show', fundamental_character %></td>
    <td><%= link_to 'Properties', fundamental_persistent_character_property_path(fundamental_character.id) %></td>
    <td><%= link_to 'Edit', edit_fundamental_character_path(fundamental_character) %></td>
    <td><%= link_to 'Destroy', fundamental_character, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @fundamental_characters %>


<br />

<%= link_to 'New Character', new_fundamental_character_path %>
