<p id="notice"><%= notice %></p>

<p class="red"><b><%= @fundamental_character.platinum_account? ? "Platinum User" : ""%></b></p>
<% if staff? || admin? %>
<p><b>Gross:</b> <%= @fundamental_character.gross%> EUR</p>
<% end %>

<p>
  <b>Identifier:</b>
  <%= @fundamental_character.identifier %>
</p>

<p>
  <b>Platinum End:</b>
  <%= @fundamental_character.premium_expiration %>
</p>

<p>
  <b>Insider since:</b>
  <%= @fundamental_character.insider_since %>
</p>

<p>
  <b>Name:</b>
  <%= @fundamental_character.name %>
</p>

<% if admin? %>
<p>
  <b>5D Platinum Credits:</b>
  <%= @credit_amount || 0 %>
  <%= form_for @shop_credit_transaction do |t| %>
    <%= t.label :scale_factor, 'Book 5D Credits' %>:
    <%= t.text_field :scale_factor %>
    <%= t.hidden_field :partner_user_id %>
    <%= t.submit 'Submit' %>
  <% end %>  
</p>
<% end %>  



<hr/>

<p>
  <b>Exp:</b>
  <%= @fundamental_character.exp %>
</p>

<p>
  <b>Mundane Rank:</b>
  <%= @fundamental_character.mundane_rank %> 
  <b>Notified:</b>
  <%= @fundamental_character.notified_mundane_rank %> 
</p>

<p>
  <b>Sacred Rank:</b>
  <%= @fundamental_character.sacred_rank %> 
  <b>Notified:</b>
  <%= @fundamental_character.notified_sacred_rank %> 
</p>

<p>
  <b>Lvel:</b>
  <%= @fundamental_character.lvel %>
</p>

<hr/>
<p>
  <b>Att:</b>
  <%= @fundamental_character.att %>
</p>

<p>
  <b>Def:</b>
  <%= @fundamental_character.def %>
</p>

<p>
  <b>Wins:</b>
  <%= @fundamental_character.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @fundamental_character.losses %>
</p>

<p>
  <b>Health max:</b>
  <%= @fundamental_character.health_max %>
</p>

<p>
  <b>Health present:</b>
  <%= @fundamental_character.health_present %>
</p>

<p>
  <b>Health updated at:</b>
  <%= @fundamental_character.health_updated_at %>
</p>

<p>
  <b>Locked:</b>
  <%= @fundamental_character.locked %>
</p>

<p>
  <b>Locked by:</b>
  <%= @fundamental_character.locked_by %>
</p>

<p>
  <b>Locked at:</b>
  <%= @fundamental_character.locked_at %>
</p>

<p>
  <b>Banned:</b>
  <%= @fundamental_character.banned %>
</p>

<p>
  <b>Banned until:</b>
  <%= @fundamental_character.ban_ended_at %>
</p>

<p>
  <b>Skill points:</b>
  <%= @fundamental_character.skill_points %>
</p>

<p>
  <b>Alliance:</b>
  <%= @fundamental_character.alliance_id %>
</p>

<p>
  <b>Alliance tag:</b>
  <%= @fundamental_character.alliance_tag %>
</p>

<p>
  <b>Base location:</b>
  <%= @fundamental_character.base_location_id %>
</p>

<p>
  <b>Base region:</b>
  <%= @fundamental_character.base_region_id %>
</p>

<p>
  <b>Last Retention Mail:</b>
  <%= @fundamental_character.last_retention_mail_id %>
</p>

<p>
  <b>Last Retention Mail sent at:</b>
  <%= @fundamental_character.last_retention_mail_sent_at %>
</p>





<%= link_to 'Edit', edit_fundamental_character_path(@fundamental_character) %> |
<%= link_to 'Back', fundamental_characters_path %>
