<div class="dashboard">

  <h1>Partner Sites</h1>

  <% if @backend_user.admin? %>
  
  <table>
    <tr>
      <th>Backend user</th>
      <th>Description</th>
      <th>Referer</th>
      <th>R</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @backend_partner_sites.each do |backend_partner_site| %>
    <tr>
      <td><%= backend_partner_site.backend_user_id %></td>
      <td><%= backend_partner_site.description %></td>
      <td><%= backend_partner_site.referer %></td>
      <td><%= backend_partner_site.r %></td>
      <td><%= link_to 'Show', backend_partner_site %></td>
      <td><%= link_to 'Edit', edit_backend_partner_site_path(backend_partner_site) %></td>
      <td><%= link_to 'Destroy', backend_partner_site, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Partner site', new_backend_partner_site_path %>

  <% else %>

  <div class="profile">
    <%= gravatar_img_tag_for @backend_user.gravatar_url(:size => 120), :class => 'gravatar-float', :alt => @backend_user.address_informal %>
  
    <div class="profile-info">
      <h1>Hi <%="#{@backend_user.address_informal}" %>.</h1>
      <p>Your role: <%= (backend_admin? ? '<span class="red">admin</span>' : backend_staff? ? '<span class="orange">staff</span>' : "partner").html_safe %>.
    </div>
  </div>
  
  <% end %>
  
  <% @user_groups.each do |group| %>
  <%= render :partial => "backend/partner_sites/user_group", :locals => { :user_group => group } %>
  <% end %>
  
</div>