<h1>Listing messaging_outboxes</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Messages count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messaging_outboxes.each do |messaging_outbox| %>
  <tr>
    <td><%= messaging_outbox.owner_id %></td>
    <td><%= messaging_outbox.messages_count %></td>
    <td><%= link_to 'Show', messaging_outbox %></td>
    <td><%= link_to 'Edit', edit_messaging_outbox_path(messaging_outbox) %></td>
    <td><%= link_to 'Destroy', messaging_outbox, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outbox', new_messaging_outbox_path %>
