<!DOCTYPE html>
<html>
<head>
  <title>Augmented Worlds Engine | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=wrapper>
  
<header class="site-header">
  <span class="site-name">Augmented Worlds Engine</span>
  <nav class="backend-user">  
    <ul>
      <% if signed_in_to_backend? %>
        <li><%= link_to current_backend_user.login, current_backend_user %></li>
        <li><%= link_to I18n.translate("application.layout.signout"), signout_path %></li>
      <% else %>
        <li><%= link_to I18n.translate("application.layout.signin"), signin_path %></li>
      <% end %>
    </ul>
  </nav><br/>
  
  <nav class="site-navigation">  
  <% if signed_in_to_backend? && backend_staff? %>
    <ul>
      <li><%= link_to I18n.translate("application.layout.backend.category"), backend_dashboard_path %></li>
      <%= yield :backend_links %>
      <li><%= link_to I18n.translate("application.layout.rules.category"), game_rules_rules_path %></li>
      <%= yield :rules_links %>
      <li><%= link_to I18n.translate("application.layout.event.category"), event_events_path %></li>
      <%= yield :event_links %>
      <li><%= link_to I18n.translate("application.layout.effect.category"), effect_resource_effects_path %></li>
      <%= yield :effect_links %>
      <li><%= link_to I18n.translate("application.layout.action.category"), action_path %></li>
      <%= yield :action_links %>
      <li><%= link_to I18n.translate("application.layout.ranking.category"), ranking_character_rankings_path %></li>
      <li><%= link_to I18n.translate("application.layout.fundamental.category"), fundamental_characters_path %></li>
      <%= yield :fundamental_links %>
      <li><%= link_to I18n.translate("application.layout.messaging.category"), messaging_inboxes_path %></li>
      <%= yield :messaging_links %>
      <li><%= link_to I18n.translate("application.layout.map.category"), map_nodes_path %></li>
      <%= yield :map_links %>
      <li><%= link_to I18n.translate("application.layout.settlement.category"), settlement_settlements_path %></li>
      <%= yield :settlement_links %>
      <li><%= link_to I18n.translate("application.layout.construction.category"), construction_jobs_path %></li>
      <%= yield :construction_links %>
      <li><%= link_to I18n.translate("application.layout.military.category"), military_armies_path %></li>
      <%= yield :military_links %>
      <li><%= link_to I18n.translate("application.layout.training.category"), training_jobs_path %></li>
      <%= yield :training_links %>
      <li><%= link_to I18n.translate("application.layout.shop.category"), shop_money_transactions_path %></li>
      <%= yield :shop_links %>
      <li><%= link_to I18n.translate("application.layout.tutorial.category"), tutorial_tutorial_path %></li>
      <%= yield :tutorial_links %>
    </ul>
  <% end %>
  </nav>  
</header>
  
<section class="content">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</section>

<div class="push clear"></div>
</div>

<div class="clear">&nbsp;</div>

<footer class="site-footer">
  <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
