<!DOCTYPE html>
<html>
<head>
  <title>Augmented Worlds Engine | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=wrapper>
  
<header class="site-header">
  <span class="site-name">Augmented Worlds Engine</span>
  
  <nav class="site-navigation">  
  <ul>
    <li><%= link_to I18n.translate("application.layout.rules.category"), game_rules_rules_path %></li>
    <%= yield :rules_links %>
    <li><%= link_to I18n.translate("application.layout.event.category"), event_events_path %></li>
    <%= yield :event_links %>
    <li><%= link_to I18n.translate("application.layout.action.category"), action_path %></li>
    <%= yield :action_links %>
    <li><%= link_to I18n.translate("application.layout.fundamental.category"), fundamental_characters_path %></li>
    <%= yield :fundamental_links %>
    <li><%= link_to I18n.translate("application.layout.map.category"), map_nodes_path %></li>
    <%= yield :map_links %>
    <li><%= link_to I18n.translate("application.layout.military.category"), military_armies_path %></li>
    <%= yield :military_links %>
  </ul>
  </nav>  
</header>
  
<section class="content">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</section>

<div class="push clear"></div>
</div>

<div class="clear">&nbsp;</div>

<footer class="site-footer">
  <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
