<% content_for :fundamental_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.fundamental.round_info"), fundamental_round_info_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.characters"), fundamental_characters_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.resource_pools"), fundamental_resource_pools_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliances"), fundamental_alliances_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliance_shouts"), fundamental_alliance_shouts_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliance_leader_votes"), fundamental_alliance_leader_votes_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.diplomacy_relations"), fundamental_diplomacy_relations_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliance_reservations"), fundamental_alliance_reservations_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.artifacts"), fundamental_artifacts_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.artifact_initiations"), fundamental_artifact_initiations_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.victory_progress"), fundamental_victory_progresses_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.announcements"), fundamental_announcements_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.retention_mails"), fundamental_retention_mails_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.gossip"), fundamental_gossip_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.settings"), fundamental_settings_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.guilds"), fundamental_guilds_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:fundamental_content) ? yield(:fundamental_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
