<% content_for :fundamental_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.fundamental.characters"), fundamental_characters_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.resource_pools"), fundamental_resource_pools_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliances"), fundamental_alliances_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.victory_progress"), fundamental_victory_progresses_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.alliance_shouts"), fundamental_alliance_shouts_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.guilds"), fundamental_guilds_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.announcements"), fundamental_announcements_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.settings"), fundamental_settings_path %></li>
    <li><%= link_to I18n.translate("application.layout.fundamental.retention_mails"), fundamental_retention_mails_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:fundamental_content) ? yield(:fundamental_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
