<% content_for :messaging_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.messaging.inboxes"), messaging_inboxes_path %></li>
    <li><%= link_to I18n.translate("application.layout.messaging.outboxes"), messaging_outboxes_path %></li>
    <li><%= link_to I18n.translate("application.layout.messaging.archives"), messaging_archives_path %></li>
    <li><%= link_to I18n.translate("application.layout.messaging.reported"), messaging_messages_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:messaging_content) ? yield(:messaging_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
