<% content_for :military_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.military.armies"), military_armies_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.army_details"), military_army_details_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.battles"), military_battles_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.rounds"), military_battle_rounds_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.battle_factions"), military_battle_factions_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.battle_faction_results"), military_battle_faction_results_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.participants"), military_battle_participants_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.participant_results"), military_battle_participant_results_path %></li>
    <li><%= link_to I18n.translate("application.layout.military.character_results"), military_battle_character_results_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:military_content) ? yield(:military_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
