<% content_for :shop_links do %>
  <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.shop.purchases"), shop_purchases_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.resource_offers"), shop_resource_offers_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.bonus_offers"), shop_bonus_offers_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.platinum_offers"), shop_platinum_offers_path %></li>
	<li><%= link_to I18n.translate("application.layout.shop.fb_credit_offers"), shop_fb_credit_offers_path %></li>
	<li><%= link_to I18n.translate("application.layout.shop.google_credit_offers"), shop_google_credit_offers_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.special_offers"), shop_special_offers_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.transactions"), shop_transactions_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.special_offers_transactions"), shop_special_offers_transactions_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.credit_transactions"), shop_credit_transactions_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.fb_money_transactions"), shop_fb_money_transactions_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.google_money_transactions"), shop_google_money_transactions_path %></li>
    <li><%= link_to I18n.translate("application.layout.shop.money_transactions"), shop_money_transactions_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:shop_content) ? yield(:shop_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
